/*
 * Copyright 2019 dialog LLC <info@dlg.im>
 */

@import '../../variables.css';

.platform {
  @media (--tablet-viewport) {
    padding-top: 80px;
    padding-bottom: 30px;
  }

  @media (--laptop-viewport) {
    padding-top: 120px;
  }

  &-title {
    margin: 0;
    padding: 0 0 16px;
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);

    @media (--tablet-viewport) {
      padding-bottom: 40px;
    }
  }

  & .tabs__parent {
    @media (--tablet-viewport) {
      position: relative;
    }
  }

  & .tab__panel {
    @media (--tablet-viewport) {
      margin-top: 60px;
      position: absolute;
      z-index: 10;
      /*background: rgba(244, 2, 1, 0.2);*/
    }

    @media (--tablet-landscape-viewport) {
      width: calc(50% - var(--padding-side-columns) * 1.5);
    }
  }

  & .accordion {
    @media (--tablet-viewport) {
      width: 100%;
    }
  }

  &__item {
    position: relative;

    @media (--tablet-viewport) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__col--noimage {
    @media (--tablet-viewport) {
      width: calc(50% - var(--padding-side-columns) / 2);
      order: 2;
    }

    @media (--tablet-landscape-viewport) {
      width: calc(50% + var(--padding-side-columns) / 2);
    }

    @media (--laptop-viewport) {
      width: calc(50% - var(--padding-side-columns) / 2);
    }
  }

  &__icons {
    margin-top: -20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    @media (--tablet-viewport) {
      margin-top: 0;
    }
  }

  &__icon {
    margin-top: 60px;

    width: calc(50% - var(--padding-side-columns) / 2);

    &-text {
      margin-top: 15px;
    }
  }

  &__description {
    color: var(--text-color-main-03);
    margin-top: 20px;

    @media (--tablet-viewport) {
      margin-top: 60px;
    }
  }

  &__links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: var(--letter-spacing-content);
    margin-top: 20px;

    @media (--tablet-landscape-viewport) {
      margin-top: 30px;
    }
  }

  &__image {
    margin-top: 60px;
    margin-bottom: 40px;

    @media (--tablet-viewport) {
      width: calc(50% - var(--padding-side-columns) / 2);
      order: 1;
    }

    @media (--tablet-landscape-viewport) {
      width: calc(50% - var(--padding-side-columns) * 1.5);
    }

    @media (--laptop-viewport) {
      width: calc(50% - var(--padding-side-columns));
    }
  }

  &--messenger {
    & .platform__icons {
      @media (--tablet-landscape-viewport) {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: -20px;
        margin-right: -20px;
      }

      @media (--laptop-viewport) {
        margin-left: -23px;
        margin-right: -23px;
      }
    }

    & .platform__icon {
      @media (--tablet-landscape-viewport) {
        width: calc(100% / 3);
        padding-left: 20px;
        padding-right: 20px;
      }

      @media (--tablet-laptop-viewport) {
        padding-left: 23px;
        padding-right: 23px;
      }
    }
  }

  &--functions {
  }

  &--integrations {
    & .platform__icon {
      width: 100%;
      display: flex;
      align-items: flex-start;

      @media (--tablet-landscape-viewport) {
        align-items: center;
      }

      &-text {
        margin-top: 0;
        margin-left: 20px;

        @media (--tablet-viewport) {
          margin-left: 30px;
        }

        @media (--tablet-landscape-viewport) {
          margin-left: 40px;
        }
      }
    }
  }

  @media (--tablet-viewport) {
    &__image {
      margin-top: 168px;
      /* == (height + margin-top) of .tab__panel */
      /*background: rgba(1, 2, 3, 0.1);*/
      margin-bottom: 0;
    }

    &--messenger {
      & .platform__image {
        margin-top: 388px;
      }
    }

    &--functions {
      & .platform__image {
        margin-top: 456px;
      }
    }

    &--integrations {
      & .platform__image {
        margin-top: 378px;
        margin-top: 378.5px;
      }
    }
  }

  @media (--tablet-landscape-viewport) {
    &__image {
      margin-top: 183px;
    }

    &--messenger {
      & .platform__image {
        margin-top: 306px;
      }
    }

    &--functions {
      & .platform__image {
        margin-top: 306px;
        margin-top: 305.5px;
      }
    }

    &--integrations {
      & .platform__image {
        margin-top: 223px;
      }
    }
  }

  @media (--laptop-viewport) {
    &__image {
      margin-top: 196px;
    }

    &--messenger {
      & .platform__image {
        margin-top: 259px;
      }
    }

    &--functions {
      & .platform__image {
        margin-top: 304px;
      }
    }

    &--integrations {
      & .platform__image {
        margin-top: 236px;
      }
    }
  }
}
