@import '../../styles/variables.css';

:root {
  --input-border-color: color-mod(var(--text-color-main) alpha(20%));
  --input-active-border-color: var(--color-secondary);
  --input-error-border-color: var(--color-danger);
}

.input {
  display: inline-flex;
  flex-flow: column nowrap;
  padding: 24px 0;
  vertical-align: middle;
  min-width: 250px;
  width: 100%;

  &__wrapper {
    position: relative;
    line-height: 0;
  }

  &__label {
    letter-spacing: 0.275px;
    padding: 0 var(--default-padding);
    font-size: var(--font-size-content-3);
    line-height: var(--line-height-content-3);
    color: var(--text-color-main);
    user-select: none;
    position: absolute;
    left: 0;
    top: 10px;
    cursor: text;
    transform: translateY(0%) translateZ(0);
    transform-origin: 0% 50%;
    transition-timing-function: ease;
    transition-duration: 120ms;
    transition-property: transform, color;
  }

  &__input {
    resize: none;
    letter-spacing: 0.275px;
    border: none;
    border-radius: 0;
    padding: 10px 0;
    font-size: var(--font-size-content-3);
    line-height: var(--line-height-content-3);
    color: var(--text-color-main);
    transition: box-shadow 120ms ease;
    background-color: transparent;
    width: 100%;
    display: inline-block;
    appearance: none;
    outline: none;
    box-shadow: 0 1px 0 0 var(--input-border-color);
  }

  &--non-empty,
  &--focused {
    & .input__label {
      cursor: pointer;
      color: color-mod(var(--text-color-main) alpha(30%));
      transform: translateY(-120%) scale(0.7);
    }

    & .input__input {
      &:invalid {
        border-bottom: 2px solid #fdd2d2;
        box-shadow: none;
      }
      &:valid {
        border-bottom: 2px solid #d2fde5;
        box-shadow: none;
      }
    }
  }

  &--disabled {
    & .input__wrapper {
      opacity: 0.6 !important;
    }

    & .input__label,
    & .input__input {
      cursor: not-allowed !important;
    }
  }

  &--error {
    & .input__input {
      box-shadow: 0 2px 0 0 var(--input-error-border-color);
    }
  }
}

.error_message {
  position: absolute;
  left: -32px;
  background: #fdd2d2;
  bottom: -120px;
  z-index: 100;
  font-size: 18px;
  line-height: 20px;
  padding: 30px 30px;
  right: -32px;
  @media (--mobile-viewport) {
    bottom: -160px;
  }
  @media (--tablet-viewport) {
    bottom: -140px;
  }
  @media (--laptop-viewport) {
    bottom: -120px;
  }
}
.error_message_pointer {
  position: absolute;
  background: #fdd2d2;
  z-index: 100;
  top: -5px;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
}
