/*
 * Copyright 2019 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --button-text-color: #fff;
  --button-background-color: #1e1e1e;
  --button-hover-background-color: var(--color-secondary);
  --button-font-size: 18px;
  --button-line-height: 23px;
  --button-padding: 20px;
}

.button {
  display: inline-block;
  text-align: center;
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);
  padding: var(--button-padding) calc(var(--button-padding) * 2);
  #transition: background 250ms ease;
  cursor: pointer;
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  transition: border-radius linear 0.05s, width linear 0.05s;

  &__info {
    min-height: 63px;
  }

  &--default {
    color: var(--button-text-color);
    background-color: var(--button-background-color);
    min-width: 200px;

    @media (--mobile-viewport) {
      width: 100%;
      max-width: 400px;
      padding-left: 20px;
      padding-right: 20px;
    }

    &:hover {
      background-color: var(--button-hover-background-color);
    }
  }

  &--pale {
    background-color: transparent;
    box-shadow: inset 0 0 2px rgba(30, 30, 30, 0.1);

    &:hover {
      background-color: rgba(30, 30, 30, 0.1);
    }
  }

  &--disabled {
    cursor: not-allowed;
    color: rgba(30, 30, 30, 0.35);
    background-color: #f6f6f6 !important;
  }
  &--pending {
  }
  &.animate {
    color: transparent;

    &:after {
      position: absolute;
      content: '';
      width: 36px;
      height: 36px;
      border: 2px solid white;
      border-radius: 50%;
      border-left-color: transparent;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      animation: spin ease-in 2.5s forwards;
      animation-name: spin;
      -webkit-animation-name: spin;
      transition-timing-function: ease-in-out;
      -webkit-transition-timing-function: ease-in-out;
      animation-duration: 2.5s;
      -webkit-animation-duration: 2.5s;
      animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
    }

    &.success:before {
      position: absolute;
      content: '';
      width: 36px;
      height: 18px;
      border: 2px solid white;
      border-right: 0;
      border-top: 0;
      left: 50%;
      top: 40%;
      -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(0);
      transform: translate(-50%, -50%) rotate(0deg) scale(0);
      -webkit-animation: success ease-in 0.15s forwards;
      animation: success ease-in 0.15s forwards;
      animation-delay: 2.5s;
    }

    &.error {
      position: relative;

      &:before {
        color: #fff;
        position: absolute;
        content: '!';
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%) scale(0);
        transform: translate(-50%, -50%) scale(0);
        -webkit-animation: error ease-in 0.5s forwards;
        animation: error ease-in 0.5s forwards;
        animation-delay: 2.5s;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  90% {
    transform: translate(-50%, -50%) rotate(1080deg) scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }

  98% {
    -webkit-transform: translate(-50%, -50%) rotate(1080deg) scale(1);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(1080deg) scale(0);
  }
}

@keyframes success {
  from {
    transform: translate(-50%, -50%) rotate(0) scale(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(-45deg) scale(1);
  }
}

@-webkit-keyframes success {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0) scale(0);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(1);
  }
}

@keyframes error {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

@-webkit-keyframes error {
  from {
    -webkit-transform: translate(-50%, -50%) scale(0);
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1);
  }
}
