/*
 * Copyright 2019 dialog LLC <info@dlg.im>
 */

:root {
  --button-text-color: #fff;
  --button-background-color: #1e1e1e;
  --button-hover-background-color: var(--color-secondary);
  --button-font-size: 18px;
  --button-line-height: 23px;
  --button-padding: 20px;
}

.button {
  display: inline-block;
  text-align: center;
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);
  padding: var(--button-padding) calc(var(--button-padding) * 2);
  transition: background 250ms ease;
  cursor: pointer;
  user-select: none;

  &--default {
    color: var(--button-text-color);
    background-color: var(--button-background-color);
    min-width: 200px;

    @media (--mobile-viewport) {
      width: 100%;
      max-width: 400px;
      padding-left: 20px;
      padding-right: 20px;
    }

    &:hover {
      background-color: var(--button-hover-background-color);
    }
  }

  &--pale {
    background-color: transparent;
    box-shadow: inset 0 0 2px rgba(30, 30, 30, 0.1);

    &:hover {
      background-color: rgba(30, 30, 30, 0.1);
    }
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.8;
    background-color: var(--button-background-color) !important;
  }
}
