@import '../../styles/variables.css';

.license__partners {
  &-title {
    font-weight: 500;
    font-size: var(--font-size-title-2);
    line-height: var(--line-height-title-2);
    letter-spacing: var(--letter-spacing-0275);
  }

  &-list {
    @media (--mobile-viewport) {
      margin-right: var(--padding-side-columns);
    }

    @media (--tablet-viewport) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @media (--tablet-landscape-viewport) {
      margin-right: calc(2 * var(--padding-side-columns));
    }
  }

  &-item {
    margin-top: 60px;
    text-align: center;

    @media (--tablet-viewport) {
      width: calc(50% - var(--padding-side-columns) / 2);
    }
  }

  &-item-link {
    filter: grayscale(100%);
    opacity: 0.5;
    transition: 0.2s;

    &:hover {
      filter: grayscale(0);
      opacity: 1;
    }
  }

  &-image {
    max-width: 200px;
    max-height: 80px;
  }

  &-link-box {
    margin-top: 60px;

    @media (--tablet-viewport) {
      margin-top: 80px;
    }
  }
}
