@import '../../styles/variables.css';

.partnership {
  font-weight: 500;
  padding-top: 30px;
  padding-bottom: 30px;

  @media (--tablet-viewport) {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  @media (--tablet-landscape-viewport) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  & .heading {
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
    margin-top: 0;
    margin-bottom: 40px;

    @media (--tablet-viewport) {
      margin-bottom: 60px;
      padding-right: 40px;
    }

    @media (--laptop-viewport) {
      margin-bottom: 80px;
    }
  }

  .column {
    &--info {
      @media (--tablet-landscape-viewport) {
        width: calc(50% - var(--padding-side-columns));
      }
    }

    &--partners {
      margin-top: 40px;

      @media (--tablet-viewport) {
        margin-top: 60px;
      }

      @media (--tablet-landscape-viewport) {
        width: 50%;
        margin-top: 0;
        margin-bottom: 10px;
        display: flex;
        align-items: flex-end;
      }
    }
  }

  & .subtitle {
    font-size: var(--font-size-content-3);
    line-height: var(--line-height-content-3);
    margin-bottom: 40px;
  }

  & .partners {
    display: flex;
    flex-flow: row wrap;
    /*align-items: stretch;*/
    justify-content: space-between;

    @media (--tablet-landscape-viewport) {
      width: 100%;
    }
  }

  & .partner {
    width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

    @media (--tablet-viewport) {
      width: 26%;
    }

    &__icon {
      max-width: 100%;
      max-height: 110px;
    }

    &__name {
      margin-top: 20px;
    }
  }
}
