@import '../../styles/variables.css';

.hero {
	padding-top: 0;
	padding-bottom: 30px;

	@media (--tablet-viewport) {
		padding-bottom: 45px;
	}
	@media (--tablet-landscape-viewport) {
		padding-bottom: 50px;
	}

	@media (--laptop-viewport) {
		padding-bottom: 60px;
	}
}
