<section class="home__section news">
  <h3 class="news-title">Мы в новостях</h3>
  <div class="news__roster">
    <div class="news__roster-list">
      <div class="news__roster-item">
        <a href="" class="news__roster-item-link">
          <div class="news__roster-image-box">
            <div class="news__roster-image">
              <img src="/assets/images/blog/blog-table-1.png" alt="">
            </div>
          </div>
          <div class="news__roster-date">12 ноября 2018</div>
          <div class="news__roster-short">8 ноября 11-я ежегодная конференция CNews Forum 2018 собрала предcтавителей бизнеса, госструктур и ИТ-компаний для обсуждения инновационных технологий</div>
        </a>
      </div>
      <div class="news__roster-item">
        <a href="" class="news__roster-item-link">
          <div class="news__roster-image-box">
            <div class="news__roster-image">
              <img src="https://dialog-2.ghost.io/content/images/2019/02/-----------44-.jpg" alt="">
            </div>
          </div>
          <div class="news__roster-date">22 ноября 2018</div>
          <div class="news__roster-short">Тестирование совместимости dialog с программным обеспечением компании «Росплатформа» прошло успешно: наши отечественные решения работают стабильно и эффективно</div>
        </a>
      </div>
      <div class="news__roster-item">
        <a href="" class="news__roster-item-link">
          <div class="news__roster-image-box">
            <div class="news__roster-image">
              <img src="https://dialog-2.ghost.io/content/images/2019/02/Izbrannoe.jpg" alt="">
            </div>
          </div>
          <div class="news__roster-date">22 ноября 2018</div>
          <div class="news__roster-short">Мало текста</div>
        </a>
      </div>
    </div>
  </div>
  <div class="news__link-box">
    <a href="" class="link--arrow link--arrow--inverse">
      <span class="link--arrow__text">Все статьи</span>
      <img src="/assets/images/svg-icons/arrow-link.svg" alt="" class="link--arrow__icon">
    </a>
  </div>
</section>