@import '../../styles/variables.css';

.not_found {
  padding: 40px 0 80px;

  position: relative;
  display: flex;
  flex-flow: column nowrap;

  @media (--tablet-viewport) {
    flex-flow: row nowrap;
  }

  &__col {
    flex: 1 1 auto;

    @media (--tablet-viewport) {
      flex: 0 0 50%;
    }
  }

  &__header {
    margin: 0;
    padding: 0 !important;
  }

  &__text {
    margin: 40px 0;
    padding: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    @media (--tablet-landscape-viewport) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__image {
    max-width: 100%;
    display: block;
    margin-bottom: 40px;
  }

  &__button {
    &--uppper {
      display: none;

      @media (--tablet-viewport) {
        display: inline-flex;
      }
    }

    &--down {
      display: flex;

      @media (--tablet-viewport) {
        display: none;
      }
    }
  }
}
