.advantages {
  &__title {
    text-align: center;
  }
  &__row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media (--tablet-viewport) {
      margin-right: var(--gap-n);
    }
    @media (--desktop-viewport) {
      flex-wrap: nowrap;
    }
  }

  &__card {
    padding: var(--gap-2_25);
    margin-top: var(--gap);
    background: var(--color-primary-new);
    @media (--mini-viewport) {
      padding: var(--gap-1_5);
    }
    @media (--mobile-viewport) {
      width: 100%;
    }
    @media (--tablet-viewport) {
      margin-right: var(--gap);
      width: calc(100% / 2 - var(--gap));
    }
    @media (--desktop-viewport) {
      width: calc(100% / 3 - var(--gap));
      margin-right: var(--gap);
    }
  }
}
