.offer {
  &__header {
    & .heading {
      margin: 0;
      font-size: var(--font-size-title);
      line-height: var(--line-height-title);
      flex: 1 1 auto;
      width: 100%;

      @media (--mobile-viewport) {
        padding-top: 0;
      }

      @media (--tablet-viewport) {
        padding: 40px 0;
      }
    }
  }

  &__form {
    & .form__box {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;
      align-content: flex-start;

      & .input,
      & .select,
      & .checkbox {
        flex: 0 0 100%;
        margin-bottom: 8px;

        @media (--tablet-viewport) {
          margin-bottom: 32px;
          flex-basis: calc(50% - var(--padding-side-columns) / 2);
        }
      }

      & .input {
        @media (--tablet-landscape-viewport) {
          margin-bottom: 15px;
        }
      }

      & .checkbox {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 0;

        @media (--tablet-viewport) {
          margin-bottom: 32px;
        }
      }
    }

    & .form__footer {
      margin-top: 20px;

      @media (--mobile-viewport) {
        & .button {
          width: 100%;
        }
      }

      @media (--tablet-landscape-viewport) {
        margin-top: 30px;
      }
    }
  }
  .checkbox__input:checked + .checkbox__checkbox {
    background: var(--color-primary-new);
  }
}
