@import '../../styles/variables.css';

.integrations {
  padding-top: 30px;
  padding-bottom: 40px;

  @media (--mobile-viewport) {
    padding-top: 20px;
  }
  @media (--tablet-landscape-viewport) {
    padding-top: 60px;
  }
  @media (--laptop-viewport) {
    padding-top: 90px;
  }
  @media (--desktop-viewport) {
    padding-top: 40px;
  }

  &__title,
  &__subtitle {
    @media (--laptop-viewport) {
      padding-right: var(--padding-side-columns);
    }

    @media (--desktop-viewport) {
      padding-right: calc(2 * var(--padding-side-columns));
    }
  }

  &__title {
    padding-top: 0;
  }

  &__subtitle {
    font-size: var(--font-size-subtitle-2);
    line-height: var(--line-height-subtitle-2);
    font-weight: 500;
    margin-bottom: 20px;

    @media (--tablet-viewport) {
      margin-bottom: 80px;
    }

    & .link--default {
      display: inline-block;
    }
  }

  &__wrapper {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    @media (--tablet-viewport) {
      min-height: 300px;
    }
  }

  &__box {
    width: 70%;
    @media (--mobile-viewport) {
      width: 100%;
    }
  }
  &__tabs {
    width: 30%;
    font-size: 32px;
    line-height: 42px;
  }

  &__tabs {
    @media (--mobile-viewport) {
      display: none;
    }

    & .tabs__tab {
      cursor: default !important;
    }
  }

  &__content {
    &__body {
      flex-flow: row wrap;
      display: flex;
      justify-content: center;
      &__title {
        color: color-mod(#1e1e1e alpha(30%));
        margin-top: 40px;
        margin-bottom: 40px;

        @media (--tablet-viewport) {
          margin-top: 0;
        }

        @media (--tablet-landscape-viewport) {
          margin-bottom: 50px;
        }
      }
    }

    display: none;

    @media (--mobile-viewport) {
      display: block !important;
    }

    &--visible {
      display: block;
    }

    & .collapsible__title {
      display: none;

      @media (--mobile-viewport) {
        display: block !important;
      }
    }

    & .collapsible__content {
      @media (--tablet-viewport) {
        display: block;
      }
    }
  }
}
