/*
 * Copyright 2019 dialog LLC <info@dlg.im>
 */

.about {
  &__text .container {
    @media (--mobile-viewport) {
      flex-direction: column;
      margin-top: 50px;
      margin-bottom: 50px;
    }
    @media (--tablet-viewport) {
      flex-direction: column;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    @media (--tablet-landscape-viewport) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 120px;
      margin-bottom: 120px;
    }
  }

  &__header_upper {
    @media (--mobile-viewport) {
      display: block;
    }
    @media (--tablet-viewport) {
      display: block;
    }
    @media (--tablet-landscape-viewport) {
      display: none;
    }
    @media (--laptop-viewport) {
      display: none;
    }
    @media (--desktop-viewport) {
      display: none;
    }
  }

  &__header_middle {
    @media (--mobile-viewport) {
      display: none;
    }
    @media (--tablet-viewport) {
      display: none;
    }
    @media (--tablet-landscape-viewport) {
      display: block;
      width: 427px;
    }
    @media (--laptop-viewport) {
      display: block;
      width: 502px;
    }
    @media (--desktop-viewport) {
      display: block;
      width: 502px;
    }
  }

  &__company_wrapper {
    margin-top: 30px;
    width: 100%;

    @media (--mobile-viewport) {
      font-size: 16px;
      line-height: 21px;
    }

    @media (--tablet-viewport) {
      font-size: 18px;
      line-height: 23px;
    }

    @media (--tablet-landscape-viewport) {
      width: calc(50% - 40px);
      font-size: 20px;
      line-height: 26px;
    }

    @media (--laptop-viewport) {
      width: calc(50% - 100px);
      font-size: 24px;
      line-height: 31px;
    }

    @media (--desktop-viewport) {
      font-size: 24px;
      line-height: 31px;
    }

    & b {
      font-weight: 500;
    }
  }

  &__green_section {
    background-color: var(--color-primary);

    @media (--mobile-viewport) {
      padding-top: 20px !important;
      padding-bottom: 80px !important;
    }

    @media (--tablet-viewport) {
      padding-top: 10px !important;
      padding-bottom: 100px !important;
    }

    @media (--tablet-landscape-viewport) {
      padding-top: 80px !important;
      padding-bottom: 100px !important;
    }
  }
  &__green_section--new {
    background-color: var(--color-primary-new);
  }

  &__green_section .container {
    display: flex;
    justify-content: space-between;

    @media (--mobile-viewport) {
      flex-direction: column;
      margin-top: 40px;
    }

    @media (--tablet-viewport) {
      flex-direction: column;
      margin-top: 40px;
    }

    @media (--tablet-landscape-viewport) {
      flex-direction: row;
      margin-top: 80px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__green_section_title:not(#_) {
    width: 100%;
    border-bottom: 1px solid #000000;
    padding-bottom: 10px;
  }
  &__green_section_header {
    @media (--tablet-landscape-viewport) {
      display: block;
      width: calc(50% + 40px);
      &:not(#_) {
        padding-right: 20px;
      }
    }
    @media (--laptop-viewport) {
      display: block;
      width: calc(50% + 100px);
    }
  }

  &__green_section_text_wrapper {
    @media (--mobile-viewport) {
      width: 100%;
      font-size: 16px;
      line-height: 21px;
    }

    @media (--tablet-viewport) {
      width: 100%;
      font-size: 18px;
      line-height: 23px;
    }

    @media (--tablet-landscape-viewport) {
      width: calc(50% - 40px);
      font-size: 20px;
      line-height: 26px;
      padding-top: 40px;
      margin-top: 12px;
    }

    @media (--laptop-viewport) {
      width: calc(50% - 100px);
      font-size: 24px;
      line-height: 31px;
      margin-top: 20px;
    }

    @media (--desktop-viewport) {
      font-size: 24px;
      line-height: 31px;
    }
  }

  &__read_more {
    margin-top: 30px;
  }

  &__promo {
    position: relative;

    @media (--tablet-landscape-viewport) {
      &:after {
        content: '';
        position: absolute;
        z-index: -1;
        background-color: var(--color-secondary);
        box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.08);
        top: 60%;
        bottom: -60px;
        right: 0;
        left: calc(50% + 40px);
      }
    }

    @media (--laptop-viewport) {
      &:after {
        top: 40%;
        left: calc(50% + 100px);
      }
    }
  }

  &__video {
    position: relative;

    @media (--tablet-landscape-viewport) {
      &:before {
        content: '';
        position: absolute;
        background-color: var(--color-primary);
        z-index: -1;
        top: 20%;
        width: 100px;
        right: -35px;
        bottom: 40px;
      }
    }

    @media (--laptop-viewport) {
      &:before {
        top: 8%;
        width: 150px;
        right: -50px;
      }
    }

    @media (--mobile-viewport) {
      margin: 0 calc(-1 * var(--margin-container-side));
    }

    @media (--tablet-viewport) {
      margin: 0 calc(-1 * var(--margin-container-side));
    }

    @media (--tablet-landscape-viewport) {
      width: 100%;
      margin: 0;
    }

    &-wrapper {
      & > iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      & > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  } /* ! .about__video */

  &__description {
    background-color: var(--color-secondary);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 0;

    @media (--tablet-viewport) {
      margin-left: 13.65%;
      flex-direction: row;
      align-items: center;
      min-height: 184px;
      padding-left: 60px;
      margin-top: 50px;

      &:hover {
        &:before {
          box-shadow: 0px -6px 14px rgba(0, 0, 0, 0.1);
        }
      }
    }

    @media (--tablet-landscape-viewport) {
      margin-left: 18%;
      padding-left: 70px;
    }

    @media (--laptop-viewport) {
      margin-left: 22.5%;
      margin-top: 60px;
    }

    @media (--desktop-viewport) {
      margin-top: 50px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: calc(-1 * var(--margin-container-side));
      right: calc(-1 * var(--margin-container-side));
      transition: box-shadow 150ms ease;

      @media (--tablet-viewport) {
        left: 0;
      }

      background: inherit;
      /*z-index: -1;*/
    }

    & .img--icon {
      z-index: 1;
    }

    & span {
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      letter-spacing: 0.275px;
      padding: 40px 0 20px;
      z-index: 1;

      @media (--tablet-viewport) {
        font-size: 18px;
        line-height: 23px;
        padding: 0 20px 0 40px;
      }

      @media (--tablet-landscape-viewport) {
        font-size: 20px;
        line-height: 26px;
      }

      @media (--laptop-viewport) {
        font-size: 24px;
        line-height: 31px;
        padding-left: 50px;
      }

      @media (--desktop-viewport) {
        padding-right: 130px;
      }
    }

    & .img--arrow {
      max-width: 44px;
      z-index: 1;

      @media (--mobile-viewport) {
        align-self: flex-end;
      }
    }
  }
}
