/*
 * Copyright 2019 dialog LLC <info@dlg.im>
 */

@import './variables.css';

.blog {
  & img {
    max-width: 100%;
    max-height: 100%;
  }

  &__top-section {
    @media (--tablet-landscape-viewport) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__main {
    @media (--tablet-viewport) {
      padding-top: 24px;
    }

    @media (--tablet-landscape-viewport) {
      width: calc(50% - var(--padding-side-columns) / 2);
      padding-top: 30px;
    }

    @media (--laptop-viewport) {
      width: calc(50% + var(--padding-side-columns));
    }

    &__tag-box {
      font-weight: 500;

      & .blog__main__tag-title {
        font-size: var(--font-size-title);
        line-height: var(--line-height-title);
        margin-top: 20px;
        margin-bottom: 60px;
      }
    }

    &-image {
      & img {
        display: block;
        max-width: 100%;
      }
    }

    &-date {
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: var(--text-color-main-03);
      margin-top: 20px;

      @media (--tablet-viewport) {
        margin-top: 40px;
      }
    }

    &-title {
      font-weight: 500;
      font-size: var(--font-size-title-2);
      line-height: var(--line-height-title-2);
      margin-top: 20px;
    }

    &-short {
      font-size: var(--font-size-content-2);
      line-height: var(--line-height-content-2);
      margin-top: 20px;
    }

    &-tags {
      margin-top: 20px;
      margin-left: -10px;

      @media (--tablet-viewport) {
        margin-top: 30px;
      }

      & span {
        display: inline-block;
        margin-left: 10px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: var(--text-color-main-03);
      }
    }
  } /* ! .blog__main */

  &__secondary {
    font-weight: 500;

    @media (--tablet-viewport) {
      display: flex;
      justify-content: space-between;
    }

    @media (--tablet-landscape-viewport) {
      display: block;
      width: calc(50% - var(--padding-side-columns) / 2);
    }

    @media (--laptop-viewport) {
      width: calc(50% - var(--padding-side-columns) * 2);
    }
  } /* ! .blog__secondary */

  &__popular {
    @media (--tablet-viewport) {
      width: calc(50% - var(--padding-side-columns) / 2);
    }

    @media (--tablet-landscape-viewport) {
      width: 100%;
    }

    &-title {
      margin: 0;
      font-size: var(--font-size-title-4);
      line-height: var(--line-height-title-4);
      letter-spacing: var(--letter-spacing-0275);
    }

    &-list {
      margin-top: 40px;

      @media (--tablet-viewport) {
        margin-top: 20px;
      }

      @media (--tablet-landscape-viewport) {
        margin-top: 40px;
      }
    }

    &-item {
      & + & {
        margin-top: 40px;
      }

      @media (--mobile-viewport) {
        display: flex;
      }

      @media (--tablet-viewport) {
        &:not(:first-of-type) {
          display: none;
        }
      }

      @media (--tablet-landscape-viewport) {
        display: flex !important;
        justify-content: space-between;
      }
    }

    &-image-box {
      @media (--mobile-viewport) {
        flex-basis: calc(50% - var(--padding-side-columns) * 2);
        width: calc(50% - var(--padding-side-columns) * 2);
      }

      @media (--tablet-landscape-viewport) {
        flex-basis: 20%;
        width: 20%;
      }

      @media (--tablet-landscape-viewport) {
        flex-basis: 23%;
        width: 23%;
      }
    }

    &-image {
      & img {
        display: block;
        max-width: 100%;

        @media (--tablet-viewport) {
          max-width: 30%;
        }

        @media (--tablet-landscape-viewport) {
          max-width: 100%;
        }
      }
    }

    &-info {
      @media (--mobile-viewport) {
        flex-basis: calc(50% + var(--padding-side-columns) * 1.5);
        width: calc(50% + var(--padding-side-columns) * 1.5);
        margin-left: calc(var(--padding-side-columns) / 2);
      }

      @media (--tablet-landscape-viewport) {
        flex-basis: calc(80% - 30px);
        width: calc(80% - 30px);
      }

      @media (--tablet-landscape-viewport) {
        flex-basis: calc(77% - 30px);
        width: calc(77% - 30px);
      }
    }

    &-date {
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 18px;
      color: var(--text-color-main-03);

      @media (--tablet-viewport) {
        margin-top: 20px;
      }

      @media (--tablet-landscape-viewport) {
        margin-top: 0;
      }
    }

    &-item-title {
      font-size: var(--font-size-title-5);
      line-height: var(--line-height-title-5);
    }

    &-item-title-link {
    }
  } /* ! .blog__popular */

  &__tags {
    @media (--tablet-viewport) {
      width: calc(50% - var(--padding-side-columns) / 2);
    }

    @media (--tablet-landscape-viewport) {
      width: 100%;
    }

    &-title {
      margin: 0;
      font-size: var(--font-size-title-4);
      line-height: var(--line-height-title-4);
      letter-spacing: var(--letter-spacing-0275);
    }

    &-list {
      font-size: 0;
      margin-top: 20px;
      margin-left: -10px;
    }

    &-item {
      display: inline-block;
      margin-left: 10px;

      & + & {
        margin-top: 10px;
      }
    }

    &-link {
      display: flex;
      background-color: rgba(196, 196, 196, 0.1);
      padding: 7px 12px;
      font-size: 14px;
      line-height: 18px;
      transition: background-color 0.4s;

      &:hover {
        background-color: var(--color-secondary);
      }

      &--current {
        background-color: var(--color-secondary);
        pointer-events: none;

        &:hover {
          cursor: default;
        }
      }
    }

    &-name {
    }

    &-amount {
      color: var(--text-color-main-03);
      padding-left: 14px;
    }
  } /* ! .blog__tags */

  &__roster-section {
    padding-top: 30px;
    padding-bottom: 30px;

    @media (--tablet-viewport) {
      padding-bottom: 10px;
    }
  }

  &__button-more {
    margin-top: 40px;
    width: 100%;

    @media (--tablet-viewport) {
      margin-top: 60px;
    }
  }

  &__subscribe-section {
  }
}

.blog__roster {
  font-weight: 500;

  &-title {
    font-size: var(--font-size-title-4);
    line-height: var(--line-height-title-4);
    letter-spacing: var(--letter-spacing-0275);
  }

  &-list {
    @media (--tablet-viewport) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    @media (--tablet-landscape-viewport) {
      margin-top: -20px;
      justify-content: flex-start;
      margin-left: calc(-1 * var(--padding-side-columns) / 2);
      margin-right: calc(-1 * var(--padding-side-columns) / 2);
    }
  }

  &-item {
    margin-top: 30px;

    @media (--tablet-viewport) {
      margin-top: 40px;
      width: calc(50% - var(--padding-side-columns) / 2);
    }

    @media (--tablet-landscape-viewport) {
      margin-top: 60px;
      width: calc(100% / 3);
      padding-left: calc(var(--padding-side-columns) / 2);
      padding-right: calc(var(--padding-side-columns) / 2);
    }
  }

  &-item-link {
    position: relative;
    display: block;
    padding-bottom: 20px;

    @media (--tablet-viewport) {
      height: 100%;
      display: flex;
      flex-direction: column;

      &:before {
        content: '';
        position: absolute;
        top: 133px;
        left: -20px;
        right: -20px;
        bottom: -20px;
        background: var(--color-primary);
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        transition: all 300ms ease;
        box-shadow: 0px 4px 24px color-mod(#000 alpha(5%));
      }

      &:hover:before {
        opacity: 1;
        visibility: visible;
        bottom: 0;
      }
    }

    @media (--tablet-landscape-viewport) {
      &:before {
        top: 70px;
      }

      &:hover:before {
        top: 90px;
      }
    }
  }

  &-image {
    min-height: 200px;
    /*
    height: 100%;

    @media (--tablet-viewport) {
      height: 230px;
    }

    @media (--tablet-landscape-viewport) {
      height: 150px;
    }

    @media (--laptop-viewport) {
      height: 230px;
    }

    @media (--desktop-viewport) {
      height: 215px;
    }
    */

    & img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &-date {
    margin-top: 20px;
    font-size: 14px;
    line-height: 18px;
    color: var(--text-color-main-03);

    @media (--tablet-landscape-viewport) {
      margin-top: 30px;
    }
  }

  &-name {
    margin-top: 20px;
    font-size: var(--font-size-content-3);
    line-height: var(--line-height-content-3);
    letter-spacing: var(--letter-spacing-0275);
  }

  &-short {
    margin-top: 20px;
    font-family: var(--font-family);

    @media (--tablet-viewport) {
      margin-bottom: auto;
    }
  }

  &-tags {
    margin-top: 20px;
    margin-left: -15px;

    & span {
      display: inline-block;
      margin-left: 15px;
      font-size: 14px;
      line-height: 18px;
      color: var(--text-color-main-03);
    }
  }
}

.blog__share-link {
  &--vk {
    background-image: url('/images/svg-icons/social-vkontakte.svg');
    background-repeat: no-repeat;
  }
}
