/*
 * Copyright 2019 dialog LLC <info@dlg.im>
 */

@import './variables.css';

.form {
  &-item {
    margin-top: 40px;

    &:first-of-type {
      margin-top: 0;
    }

    @media (--tablet-viewport) {
      margin-top: 60px;
    }

    &--default {
      position: relative;
      margin-top: 60px;

      @media (--tablet-viewport) {
        margin-top: 80px;
      }
    }

    &--checkbox {
      position: relative;
    }
  }
}
