/*
 * Copyright 2019 dialog LLC <info@dlg.im>
 */

@import './variables.css';

.form {
  &__footer {
    display: flex;
    flex-flow: column nowrap;

    @media (--tablet-viewport) {
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
    }
  }

  &__submit {
    flex: 0 0 auto;
  }

  &__info {
    flex: 1 1 auto;
    min-width: 0px;
    min-height: 0px;
    font-size: 14px;
    line-height: 18px;
    color: var(--text-color-main-03);
    margin-top: 40px;

    @media (--tablet-viewport) {
      margin-top: 0;
      margin-left: 40px;
    }
  }
}
