.scrollable {
  position: relative;

  &:before {
    display: none;
  }

  .advantages & {
    &:before {
      @media (max-width: 1439px) and (min-width: 1024px) {
        display: block;
      }
    }
  }

  .advantages2 & {
    &:before {
      @media (max-width: 1199px) and (min-width: 1024px) {
        display: block;
      }
    }
  }

  &:hover {
    &:before {
      opacity: 1;
    }
  }

  &:before {
    content: '';
    opacity: 0;
    transition: 0.5s ease all;
    background: url('/images/swipe.gif');
    background-size: 100%;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateY(100%) translateX(-50%);
  }

  @media (--mobile-viewport) {
    margin: 0 calc(var(--margin-container-side) * -1);
  }
}

.stretch {
  position: relative;
  left: 50%;
  width: calc(100% + calc(100vw - 1320px / 2));
  transform: translateX(-50%);
  @media (max-width: 1599px) {
    width: calc(100% + var(--margin-container-side) * 2);
  }
}
