/*
 * Copyright 2019 dialog LLC <info@dlg.im>
 */

.home {
  & img {
    max-width: 100%;
    max-height: 100%;
  }

  &__section {
    padding-top: 30px;
    padding-bottom: 30px;

    &:first-of-type {
      padding-top: 0;
    }

    &:last-of-type {
      padding-bottom: 60px;
    }

    @media (--tablet-viewport) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  &__intro {
    &:before {
      @media (--laptop-viewport) {
        top: -140px;
        right: calc(50% - var(--padding-side-columns) * 1.5);
      }
    }

    &-box {
      @media (--tablet-viewport) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }

    &-info {
      padding-bottom: 20px;

      @media (--tablet-viewport) {
        width: calc(50% - var(--padding-side-columns) / 2);
        padding-bottom: 0;
      }

      @media (--desktop-viewport) {
        width: calc(50% - var(--padding-side-columns));
      }
    }

    &-text {
      margin: 0 0 35px;
      font-size: var(--font-size-subtitle);
      line-height: var(--line-height-subtitle);
      letter-spacing: var(--letter-spacing-0275);

      @media (--tablet-viewport) {
        margin-bottom: 40px;
      }

      @media (--tablet-landscape-viewport) {
        margin-bottom: 60px;
      }
    }

    &-button {
      @media (--mobile-viewport) {
        min-width: 280px;
      }

      @media (--tablet-viewport) {
        padding-left: 28px;
        padding-right: 28px;
      }
    }

    &-image {
      @media (--tablet-viewport) {
        width: calc(50% + var(--padding-side-columns) / 2 - 10px);
        margin-right: calc(-1 * var(--margin-container-side) / 2 - 15px);
        position: relative;
      }

      @media (--tablet-landscape-viewport) {
        width: calc(50%);
        margin-bottom: 12px;
      }

      @media (--laptop-viewport) {
        width: calc(50% + var(--padding-side-columns));
        margin-right: calc(-1 * var(--padding-side-columns) + 25px);
      }

      @media (--laptop-viewport) {
        margin-top: -20px;
        margin-bottom: -20px;
        margin-right: -80px;
      }

      @media (--desktop-viewport) {
        margin-right: -120px;
      }
    }

    &-img {
      @media (--mobile-viewport) {
        display: block;
        max-width: 85%;
        margin: auto;
        max-height: 300px;
      }

      @media (--tablet-viewport) {
        max-width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
