/*
 * Copyright 2019 dialog LLC <info@dlg.im>
 */

@import 'normalize.css';

@import 'fonts.css';
@import 'variables.css';
@import 'grid.css';
@import 'main.css';
@import 'page.css';

/* TODO: place this styles to the right place(components foldew which it belongs) */
@import 'home.css';
@import 'sections/home/easy.css';
@import 'sections/home/business.css';
@import 'sections/home/clients.css';

@import 'about.css';
@import 'prices.css';
@import 'license.css';
@import 'blog.css';
@import 'legal.css';
