/*
 * Copyright 2019 dialog LLC <info@dlg.im>
 */

.license {
  &__column-content {
    @media (--tablet-viewport) {
      width: calc(100% - 3 * var(--padding-side-columns));
      margin: 0 auto;
    }

    @media (--laptop-viewport) {
      width: auto;
      margin-left: calc(1.5 * var(--padding-side-columns));
      margin-right: calc(3 * var(--padding-side-columns));
    }
  }

  &__section {
    padding-top: var(--padding-top-section);

    &:first-of-type {
      padding-top: 0;
    }
  }

  &__intro-text {
    font-size: var(--font-size-content);
    line-height: var(--line-height-content);
    letter-spacing: var(--letter-spacing-content);
  }

  &__photos {
    &--patents {
      padding-top: 0;

      @media (--tablet-landscape-viewport) {
        padding-top: 30px;
      }
    }

    &-title {
      font-weight: 500;
      font-size: var(--font-size-title-2);
      line-height: var(--line-height-title-2);

      .license__photos--patents & {
        @media (--tablet-landscape-viewport) {
          width: 75%;
        }

        @media (--laptop-viewport) {
          width: 100%;
        }
      }
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @media (--tablet-landscape-viewport) {
        justify-content: flex-start;
        margin: 0 -10px;
      }

      @media (--laptop-viewport) {
        margin: 0 -12px;
        margin: 0 -12.5px;
      }

      @media (--desktop-viewport) {
        margin: 0 -15px;
      }
    }

    &-item {
      width: calc(50% - var(--padding-side-columns) / 2);
      margin-top: 60px;
      img {
        max-width: 100%;
      }

      @media (--tablet-landscape-viewport) {
        flex-basis: 33.33333333%;
        max-width: 33.33333333%;
        padding-left: 10px;
        padding-right: 10px;
      }

      @media (--tablet-landscape-viewport) {
        padding-left: 12px;
        padding-left: 12.5px;
        padding-right: 12px;
        padding-right: 12.5px;
      }

      @media (--desktop-viewport) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    &-image {
      box-shadow: -2px 4px 2px rgba(0, 0, 0, 0.05);
    }

    &-link-box {
      margin-top: 30px;

      @media (--tablet-viewport) {
        margin-top: 40px;
      }
    }

    &-link {
      font-size: var(--font-size-content);
      line-height: var(--line-height-content);
      letter-spacing: var(--letter-spacing-content);

      /* custom licenses links */
      /* TODO: check is it crutch? */
      @media (max-width: 479px) {
        .license--dialog-server &.link--download .link--download__text {
          width: 50px;
        }
        .license--dialog-core &.link--download .link--download__text {
          width: 50px;
        }
        .license--dialog-android-sdk &.link--download .link--download__text {
          width: 98px;
        }
        .license--dialog-ios-sdk &.link--download .link--download__text {
          width: 65px;
        }
        .license--dialog-web-sdk &.link--download .link--download__text {
          width: 72px;
        }
        .license--dialog-enterprise &.link--download .link--download__text {
          width: 79px;
        }
      }
    }
  }

  &__assoc {
    &-title {
      font-weight: 500;
      font-size: var(--font-size-title-3);
      line-height: var(--line-height-title-3);
      letter-spacing: var(--letter-spacing-0275);
    }

    & ul {
      font-size: var(--font-size-content);
      line-height: var(--line-height-content);
      letter-spacing: var(--letter-spacing-content);
      margin-top: 40px;

      @media (--laptop-viewport) {
        margin-top: 45px;
      }
    }

    & li {
      position: relative;
      padding-left: 40px;

      @media (--tablet-viewport) {
        padding-left: 60px;
      }

      & + li {
        margin-top: 32px;
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 4px;
        width: 20px;
        height: 20px;
        background: var(--color-primary);
      }
    }
  }
}

.link--ori {
  /* TODO */
  display: inline-block;

  @media (max-width: 329px) {
    width: 160px;
  }
}
