.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	display: none;

	&--opened {
		display: block;
	}

	&__bg {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.8);
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	&__window {
		z-index: 1100;
		max-height: 100%;
		width: 100%;
		overflow: auto;

		&__content {
			padding: 20px;
			background-color: #fff;
			margin: 20px;

			@media (--tablet-viewport) {
				max-width: 80%;
				margin-left: auto;
				margin-right: auto;
			}

			@media (--desktop-viewport) {
				max-width: 60%;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}

