/*
 * Copyright 2019 dialog LLC <info@dlg.im>
 */

.page {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}

.tabs {
  &--upper {
    display: none;

    & .tabs__tab__title {
      margin-right: 42px;
    }

    @media (--tablet-viewport) {
      display: flex;
      flex-flow: row wrap;
      margin-top: 40px;
      margin-bottom: 114px;
    }
  }

  &--main {
    /* margin-top: 40px; */

    & .tabs__tab__title {
      @media (--tablet-viewport) {
        display: none;
      }
    }
  }

  &__tab {
    &__title {
    }
  }
}

.accordion {
  & dt {
    position: relative;
    margin-top: 24px;
    font-weight: 400;
    margin-bottom: 20px;
    border-bottom: 1px solid color-mod(#1e1e1e alpha(20%));

    & a {
      padding: 6px 0;
      line-height: 24px;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.275px;
      color: color-mod(#1e1e1e alpha(30%));
      display: block;
      position: relative;
      padding-right: 24px;

      &:before {
        content: '';
        position: absolute;
        top: 18px;
        right: 0;
        height: 2px;
        width: 12px;
        background-color: var(--color-secondary);
      }

      &:after {
        content: '';
        position: absolute;
        top: 13px;
        right: 5px;
        width: 2px;
        height: 12px;
        background-color: var(--color-secondary);
      }
    }

    &[data-open='true'] {
      & a:after {
        display: none;
      }

      & + dd {
        display: block;
      }
    }

    &[data-open='false'] {
      & + dd {
        display: none;
      }
    }
  }

  & dd {
    margin-bottom: 20px;

    & h4 {
      letter-spacing: 0.275px;
      font-size: 18px;
      font-weight: 500;
      margin: 0;
      padding: 0 0 20px;
      margin-top: 60px;

      &:first-of-type {
        margin-top: 0;
      }
    }

    & p {
      margin: 0 0 20px;
      letter-spacing: 0.01em;
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    & .link--default {
      /* flex: 1 1 auto; */
      margin-right: 32px;
    }

    @media (--tablet-viewport) {
      justify-content: flex-start;
    }
  }

  &__tabs {
    &__link {
      font-size: 32px;
      line-height: 42px;
      display: inline-block;
      color: color-mod(var(--text-color-main) alpha(30%));

      &--active {
        color: var(--text-color-main);
      }
    }
  }
}

@media (--tablet-viewport) {
  .accordion dd {
    display: block !important;
  }

  .accordion dt,
  .tabs__tab__header {
    display: none;
  }
}
