/*
 * Copyright 2019 dialog LLC <info@dlg.im>
 */

/* START business.css */

.business {
	&__cols {
	}

	&__info {
		&-title {
			margin: 0;
			font-size: var(--font-size-title);
			line-height: var(--line-height-title);
			font-weight: 700;
		}

		&-subtitle {
		}

		&-list {
		}
	}

	&__image {
	}
}
