/*
 * Copyright 2019 dialog LLC <info@dlg.im>
 */

/* START news.css */

.news {
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;

	@media (--tablet-viewport) {
		padding-top: 80px;
		padding-bottom: 60px;
	}

	@media (--laptop-viewport) {
		padding-bottom: 75px;
	}

	&:before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: calc(-1 * var(--margin-container-side));
		right: calc(-1 * var(--margin-container-side));
		background-color: var(--color-primary);
		z-index: -1;
		box-shadow: 0 1px 14px rgba(0, 0, 0, 0.05);
	}

	&-title {
		margin: 0;
		font-size: var(--font-size-title);
		line-height: var(--line-height-title);
	}

	&__link-box {
		margin-top: 60px;
	}

	& .news__roster {
		&-item {
			@media (--tablet-viewport) {
				&:nth-of-type(n + 3) {
					display: none;
				}
			}
			@media (--tablet-landscape-viewport) {
				&:nth-of-type(n + 3) {
					display: block;
				}
				&:nth-of-type(n + 4) {
					display: none;
				}
			}
		}
	}
}

/*-----*/
.news__roster {
	&-list {
		margin-top: -10px;

		@media (--tablet-viewport) {
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			margin-left: calc(-1 * var(--padding-side-columns) / 2);
			margin-right: calc(-1 * var(--padding-side-columns) / 2);
		}
	}

	&-item {
		margin-top: 40px;

		@media (--tablet-viewport) {
			margin-top: 80px;
			width: calc(100% / 2);
			padding-left: calc(var(--padding-side-columns) / 2);
			padding-right: calc(var(--padding-side-columns) / 2);
		}

		@media (--tablet-landscape-viewport) {
			width: calc(100% / 3);
		}
	}

	&-item-link {
		position: relative;
		display: block;
		height: 100%;
		padding-bottom: 40px;

		@media (--tablet-viewport) {
			opacity: 0.999999;
		}

		&:before {
			content: "";
			position: absolute;
			top: 30%;
			left: 0;
			right: 0;
			bottom: 0;
			background: #fff;
			z-index: -1;

			@media (--tablet-viewport) {
				left: -20px;
				right: -20px;
			}
		}
	}

	&-image-box {
	}

	&-image {
		@media (--tablet-viewport) {
			position: relative;
			height: 0;
			/*padding-bottom = 430/752 */
			padding-bottom: 57.1808%;
		}

		& img {
			@media (--tablet-viewport) {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
			}
		}
	}

	&-date {
		margin-top: 25px;
		font-family: var(--font-family-medium);
		font-size: 14px;
		line-height: 18px;
		color: var(--text-color-main-03);

		@media (--mobile-viewport) {
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	&-short {
		margin-top: 15px;

		@media (--mobile-viewport) {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
} /* ! .news__roster */
