@import '../../styles/variables.css';

.integrations {
  &.page_header {
    @media (--mobile-viewport) {
      padding-top: 25px;
      padding-bottom: 60px;
    }
    @media (--tablet-viewport) {
      padding-top: 46px;
      padding-bottom: 60px;
    }
    @media (--tablet-landscape-viewport) {
      padding-top: 73px;
      padding-bottom: 80px;
      padding-right: 120px;
    }
    @media (--laptop-viewport) {
      padding-bottom: 100px;
      padding-top: 135px;
    }
    @media (--desktop-viewport) {
      padding-right: 300px;
      padding-top: 200px;
    }
  }
}

.promo {
  padding-top: 0;
  padding-bottom: 20px;

  @media (--tablet-viewport) {
    padding-bottom: 50px;
  }

  @media (--laptop-viewport) {
    padding-bottom: 60px;
  }

  &__content {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

    @media (--mobile-viewport) {
      flex-direction: column;
    }

    @media (--tablet-viewport) {
      margin-right: calc(1.5 * var(--padding-side-columns));
      margin-bottom: 40px;
      flex-direction: column;
    }

    @media (--tablet-landscape-viewport) {
      flex-direction: row;
      margin-bottom: 50px;
    }

    @media (--laptop-viewport) {
      flex-direction: row;
      margin-bottom: 100px;
    }

    @media (--desktop-viewport) {
      flex-direction: row;
      margin-bottom: 110px;
    }
  }

  &__img {
    display: block;
    @media (--mobile-viewport) {
      width: calc(100% + 2 * var(--margin-container-side));
      margin-left: calc(-1 * var(--margin-container-side));
    }
    @media (--tablet-viewport) {
      width: 768px;
      height: 468px;
      margin-left: calc(-1 * var(--margin-container-side));
    }
    @media (--tablet-landscape-viewport) {
      width: 390px;
      height: 290px;
      margin-left: 0;
    }
    @media (--laptop-viewport) {
      width: 640px;
      height: 420px;
      margin-left: 0;
    }
    @media (--desktop-viewport) {
      width: 740px;
      height: 500px;
      margin-left: 0;
    }
  }
  &__image {
    position: relative;
    margin-left: 0;
    @media (--tablet-landscape-viewport) {
      margin-left: calc(1 * var(--margin-container-side));
    }
    @media (--laptop-viewport) {
      margin-left: calc(0.5 * var(--margin-container-side));
    }
    @media (--desktop-viewport) {
      margin-left: 0;
    }
    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      background: var(--color-primary);

      @media (--mobile-viewport) {
        display: none;
      }

      @media (--tablet-viewport) {
        display: none;
      }

      @media (--tablet-landscape-viewport) {
        display: block;
        width: 42px;
        height: 88px;
        left: -42px;
        top: 32px;
      }

      @media (--laptop-viewport) {
        display: block;
        width: 50px;
        height: 105px;
        left: -50px;
        top: 37px;
      }

      @media (--desktop-viewport) {
        display: block;
        width: 60px;
        height: 143px;
        left: -60px;
        top: 59px;
      }
    }
    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      background: var(--color-secondary);

      @media (--mobile-viewport) {
        display: none;
      }

      @media (--tablet-viewport) {
        display: none;
      }

      @media (--tablet-landscape-viewport) {
        display: block;
        width: 400px;
        height: 212px;
        left: -82px;
        top: 120px;
      }

      @media (--laptop-viewport) {
        display: block;
        width: 660px;
        height: 328px;
        left: -100px;
        top: 142px;
      }

      @media (--desktop-viewport) {
        display: block;
        width: 794px;
        height: 360px;
        left: -110px;
        top: 202px;
      }
    }
  }
}
