<div class="features__tabs">
  <a href="#" class="features__tabs__tab">Мессенджер</a>
  <a href="#" class="features__tabs__tab">Бизнес функции</a>
  <a href="#" class="features__tabs__tab">Интеграции</a>
</div>
