<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: 'Функции' }) %>

<body>
  <div class="site__wrapper">
    <%- include('partials/header') %>

    <main class="page features">
      <div class="container">
        <h1 class="page__header">Что умеет Reetm</h1>

        <div class="features__tabs">
          <a href="#" class="features__tabs__tab features__tabs__tab--active">Мессенджер</a>
          <a href="#" class="features__tabs__tab">Бизнес функции</a>
          <a href="#" class="features__tabs__tab">Интеграции</a>
        </div>

        <div class="features__slider">
          <div class="features__slider__tabs">
            <a href="#" class="features__slider__tab features__slider__tab--active">Аудио/Видеовызовы</a>
            <a href="#" class="features__slider__tab">Обмен файлами любого типа</a>
            <a href="#" class="features__slider__tab">Личные и групповые чаты</a>
            <a href="#" class="features__slider__tab">Аудио-сообщения</a>
            <a href="#" class="features__slider__tab">Каналы</a>
            <a href="#" class="features__slider__tab">Демонстрация экрана</a>
            <a href="#" class="features__slider__tab">Работает на любой платформе</a>
          </div>

          <div class="features__slider__content">
            <div class="tabs__tab">
              <div class="tabs__tab__title">Мессенджер</div>
              <div class="tabs__tab__content">
                <dl class="accordion">
                  <dt><a href="#">Аудио/Видеовызовы</a></dt>
                  <dd>
                    <h4>Высокое качество связи</h4>
                    <p>В зависимости от уровня сигнала сотового оператора в месте вашего нахождения, Reetm оптимизирует качество связи автоматически. При слабом уровне сигнала Reetm снижает количество передаваемого аудио или видеотрафика без разрыва
                      или задержки соединения.</p>
                    <h4>Безопасное общение</h4>
                    <p>Все звонки надежно защищены криптографическими решениями на базе end-to-end и TLS шифрования.</p>
                  </dd>
                  <dt><a href="#">Обмен файлами любого типа</a></dt>
                  <dd>
                    <h4>Передача файлов без ограничений по размеру</h4>
                    <p>Не проходит тяжелая презентация по почте? Забудьте об ограничениях – делитесь информацией любого размера, прикрепляйте заметки к файлам, а удобный поиск по названию файла и имени отправителя поможет быстро найти важные данные.</p>
                  </dd>
                  <dt><a href="#">Личные и групповые чаты</a></dt>
                  <dd>
                    <h4>Все сообщения будут доставлены</h4>
                    <p>Платформа Reetm оптимизирована как для работы с GSM сетями предыдущих поколений, так и с сетями нового поколения. Приложение отправит сообщение, когда возможности сети позволят это сделать, а также проконтролирует доставку.</p>
                  </dd>
                  <dt><a href="#">Аудио-сообщения</a></dt>
                  <dd>
                    <h4>Не отвлекайтесь от дел</h4>
                    <p>Нет времени печатать сообщение? Воспользуйтесь функцией голосовых сообщений – это гораздо удобнее и быстрее, чем автоответчик или голосовая почта.</p>
                  </dd>
                  <dt><a href="#">Каналы</a></dt>
                  <dd>
                    <h4>Работайте над документами совместно</h4>
                    <p>Единовременная рассылка сообщений всем сотрудникам организации – новостные ленты, блоги, оповещения.</p>
                  </dd>
                  <dt><a href="#">Демонстрация экрана</a></dt>
                  <dd>
                    <h4>Работайте над документами совместно</h4>
                    <p>Транслируйте экран коллегам или партнерам, обсуждайте внутренние документы или проведите презентацию в режиме реального времени.</p>
                  </dd>
                  <dt><a href="#">Работает на любой платформе</a></dt>
                  <dd>
                    <h4>Всегда на связи</h4>
                    <p>Reetm доступен на всех ваших устройствах. Поддерживаются операционные системы Android, iOS, macOS, Windows и Linux. Стабильная работа и синхронизация чатов в веб, мобильном и десктопном клиентах.</p>
                  </dd>
                </dl>
              </div>
            </div>
            <div class="tabs__tab">
              <div class="tabs__tab__title">Бизнес функции</div>
              <div class="tabs__tab__content">
                <dl class="accordion">
                  <dt><a href="#">Чатботы</a></dt>
                  <dd>
                    <h4>Автоматизируйте процессы</h4>
                    <p>Чатбот похож на виртуального собеседника. Он обрабатывает входящий вопрос и выдает ответ.</p>
                    <p>Пример: оформление документов. Это утомительная и неизбежная часть работы. Но с помощью чатбота её можно сделать проще.</p>
                  </dd>
                  <dt><a href="#">Панель администратора</a></dt>
                  <dd>
                    <h4>Управляйте доступами</h4>
                    <p>Со временем сотрудники вашей компании могут приходить и уходить. С Панелью администратора вы можете легко активировать / деактивировать пользователей в вашем рабочем пространстве и управлять доступами.</p>
                  </dd>
                  <dt><a href="#">Active Directory (AD)</a></dt>
                  <dd>
                    <h4>Единая точка входа для своих работников</h4>
                    <p>Reetm отображает информацию о пользователях из AD. Интегрируйте имеющуюся рабочую среду и групповую политику с Reetm. Пользователи могут войти в Reetm под своими учетными записями.</p>
                  </dd>
                </dl>
              </div>
            </div>
            <div class="tabs__tab">
              <div class="tabs__tab__title">Интеграции</div>
              <div class="tabs__tab__content">
                <dl class="accordion">
                  <dt><a href="#">API Reetm</a></dt>
                  <dd>
                    <h4>Совместимость с популярными бизнес-сервисами</h4>
                    <p>АТС, CRM, Таск менеджеры, Аналитические системы - все это, и не только, можно связать с Reetm. Интеграции ограничены только фантазией разработчика.</p>
                  </dd>
                  <dt><a href="#">Bot SDK</a></dt>
                  <dd>
                    <h4>Готовые средства разработки ботов для Reetm</h4>
                    <p><a href="#" class="link--default">BOT SDK</a> позволяет быстро создавать собственных ботов. В настоящее время SDK доступен для JS, Java и Python.</p>
                    <div class="accordion__links">
                      <a href="#" class="link--default">Python</a>
                      <a href="#" class="link--default">Java</a>
                      <a href="#" class="link--default">JavaScript</a>
                      <a href="#" class="link--default">Docs</a>
                    </div>
                  </dd>
                  <dt><a href="#">Брендинг компании-заказчика</a></dt>
                  <dd>
                    <h4>Не отходите от фирменного стиля</h4>
                    <p>Используйте гайдлайны брендбука, чтобы приложение соответствовало фирменному стилю вашей компании. В интерфейсе Reetm можно изменить логотип, цвета и шрифты.</p>
                  </dd>
                </dl>
              </div>
            </div>
          </div>

        </div>
      </div>
    </main>

    <%- include('partials/footer') %>
  </div>

  <script src="/assets/index.js"></script>

</body>

</html>
