@import '../../styles/variables.css';

.page_header {
  margin: 0;
  font-weight: 500;
  font-size: 60px;
  line-height: 62px;

  @media (--mobile-viewport) {
    font-size: 28px;
    line-height: 30px;
    padding: 40px 0;
  }

  @media (--tablet-viewport) {
    font-size: 40px;
    line-height: 42px;
    padding: 40px 0;
  }

  @media (--tablet-landscape-viewport) {
    font-size: 50px;
    line-height: 52px;
    padding: 30px 0 40px;
  }

  @media (--laptop-viewport) {
    font-size: 60px;
    line-height: 62px;
    padding: 20px 0 40px;
  }

  @media (--desktop-viewport) {
    padding: 40px 0 50px;
  }
}
