/*
 * Copyright 2019 dialog LLC <info@dlg.im>
 */

.collapsible {
  &__title {
    margin-bottom: 20px;
    display: block;
    padding: 6px 0;
    line-height: 24px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.275px;
    color: color-mod(#1e1e1e alpha(30%));
    position: relative;
    padding-right: 24px;
    cursor: pointer;
    box-shadow: 0 1px 0 0 color-mod(#1e1e1e alpha(20%));

    &:before {
      content: '';
      position: absolute;
      top: 18px;
      right: 0;
      height: 2px;
      width: 12px;
      background-color: var(--color-secondary);
    }

    &:after {
      content: '';
      position: absolute;
      top: 13px;
      right: 5px;
      width: 2px;
      height: 12px;
      background-color: var(--color-secondary);
    }
  }

  &__content {
    display: none;
  }

  &--open {
    & .collapsible__title {
      color: color-mod(#1e1e1e alpha(90%));

      &:after {
        display: none;
      }
    }
    @media (--mobile-viewport) {
      & .collapsible__content {
        display: block;
      }
    }
  }
}
