.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  background-color: color-mod(#000 alpha(60%));
  overflow-x: hidden;
  overflow-y: auto;

  &__window {
    position: relative;
    background-color: #fff;
    min-width: 80%;
    margin: 0 auto;
    min-height: 100%;

    &__close {
      cursor: pointer;
      position: absolute;
      right: 0px;
      top: 0px;
      line-height: 0;
      background-color: #000;
      position: fixed;
      padding: 12px;
      z-index: 1;

      & img {
        width: 24px;
        height: 24px;
        transform-origin: center;
        transition: transform 500ms ease;
      }

      &:hover {
        & img {
          transform: scale(1.2);
        }
      }

      @media (--tablet-viewport) {
        padding: 28px;
      }

      @media (--tablet-landscape-viewport) {
        position: absolute;
      }
    }

    &__body {
      padding: var(--container-margin);
      padding-bottom: 100px;
    }

    &__header {
      padding: var(--container-margin);

      & .heading {
        padding-bottom: 20px;
      }
    }

    &__body,
    &__header {
      @media (--tablet-viewport) {
        padding: 0 80px;
        & .heading {
          padding-bottom: 40px;
        }
      }

      @media (--laptop-viewport) {
        padding: 0 140px;
      }
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60px;
      background-color: var(--color-secondary);
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      height: 60px;
      background-color: var(--color-primary);
      width: 20%;
      @media (--tablet-viewport) {
        width: 440px;
      }
    }

    @media (--tablet-viewport) {
      padding: 80px 0 0;

      &:before,
      &:after {
        height: 80px;
      }
    }
    @media (--tablet-landscape-viewport) {
      min-width: auto;
      max-width: 1200px;
    }
  }

  @media (--tablet-landscape-viewport) {
    padding: 60px;
    min-height: auto;
  }
}

body.modal-open {
  overflow-y: hidden;
}
