.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;

  &__overlay {
    background-color: color-mod(#000 alpha(75%));
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
  }

  &__window {
    background-color: #fff;
    position: relative;

    @media (--tablet-viewport) {
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    @media (--desktop-viewport) {
      max-width: 60%;
      margin-left: auto;
      margin-right: auto;
    }

    &__close {
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 20px;
    }

    &__header {
      padding: 0 60px;
    }

    &__body {
      padding: 40px 60px;
    }
  }
}
