@import '../../styles/variables.css';

.header {
  &__columns {
    display: flex;
    justify-content: space-between;
  }

  &__col {
    display: flex;
    align-items: center;

    @media (--tablet-landscape-viewport) {
      z-index: 1;
    }
  }

  &__logo {
    &-link {
      display: block;
      height: 32px;
    }
    &-icon {
      height: 32px;
    }
  }

  &__menu {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    margin-left: 60px;
    display: none;

    @media (--tablet-landscape-viewport) {
      display: block;
      margin-left: 30px;
    }

    @media (--laptop-viewport) {
      margin-left: 60px;
    }

    &-list {
      display: flex;
      flex-flow: row nowrap;
    }

    &-item {
      margin-left: 25px;
      flex: 0 0 auto;

      &:first-of-type {
        margin-left: 0;
      }
      @media (--tablet-landscape-viewport) {
        margin-left: 20px;
      }

      @media (--laptop-viewport) {
        margin-left: 38px;
      }
    }

    &-link {
      transition: all 200ms ease;

      &:hover {
        color: var(--color-secondary);
      }

      &--active {
        color: var(--color-secondary);
      }
    }
  }

  &__button {
    font-weight: 500;

    &--offer {
      flex: 1 1 auto;
      font-size: 14px;
      border: 2px solid var(--text-color-main);
      padding-left: 12px;
      padding-right: 12px;
      height: 50px;
      display: none;
      background-color: transparent;
      color: var(--text-color-main);
      transition: all 400ms ease;
      cursor: pointer;
      z-index: 1000;
      background-color: #fff;

      @media (--tablet-landscape-viewport) {
        display: block;
      }

      &:hover {
        background-color: var(--text-color-main);
        color: #fff;
      }
    }

    &--lang {
      text-transform: uppercase;
      line-height: 19px;
      font-size: 14px;
      letter-spacing: 0.2px;
      margin-left: 20px;
      min-width: 20px;
      display: none;

      @media (--tablet-landscape-viewport) {
        display: block;
      }

      @media (--laptop-viewport) {
        margin-left: 40px;
      }
    }

    &--menu {
      position: relative;
      width: 30px;
      height: 30px;
      cursor: pointer;

      @media (--tablet-landscape-viewport) {
        display: none;
      }

      &:before,
      &:after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background: #000;
      }

      &:before {
        top: 9px;
      }

      &:after {
        top: 19px;
      }
    }
  }
}
