@import '../../styles/variables.css';
.company__wrapper {
  display: flex;
  flex-wrap: wrap;

  width: 110%;
  margin-left: -20px;
  @media (--mobile-viewport) {
    margin-left: 0px;
  }
}
.picture__wrapper {
  position: relative;
  padding-bottom: 20%;
  height: 0;
  width: 18%;
  overflow: hidden;
  margin: 0 20px 20px 0;

  @media (--mobile-viewport) {
    margin: 0 10px 10px 0;
    width: 30%;
    padding-bottom: 30%;
  }
  @media (--tablet-viewport) {
    width: 18%;
    padding-bottom: 18%;
    margin: 0 15px 15px 0;
  }
  @media (--tablet-landscape-viewport) {
    width: 18%;
    margin: 0 20px 20px 0;
    padding-bottom: 18%;
  }
  @media (--laptop-viewport) {
    width: 18%;
    margin: 0 20px 20px 0;
    padding-bottom: 18%;
  }
}
.picture__wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  #width: 100%;
  object-fit: cover;
}
