<header class="site__header">
  <div class="dlg-container">
    <div class="header__columns">
      <div class="header__col">
        <div class="header__logo">
          <a href="/" class="header__logo-link">
            <img src="/assets/images/logo-header.svg" alt="" class="header__logo-icon">
          </a>
        </div>
        <nav class="header__menu">
          <ul class="header__menu-list">
            <li class="header__menu-item header__menu-item--parent">
              <a href="/features" class="header__menu-link">Функции</a>
            </li>
            <li class="header__menu-item">
              <a href="/blog" class="header__menu-link">Блог</a>
            </li>
            <li class="header__menu-item">
              <a href="/about" class="header__menu-link">О нас</a>
            </li>
            <li class="header__menu-item">
              <a href="/support" class="header__menu-link">Поддержка</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header__col">
        <button class="header__button header__button--offer">Получить предложение</button>
        <button class="header__button header__button--lang btn__change-lang">en</button>
        <button class="header__button header__button--menu"></button>
      </div>
    </div>
  </div>
</header>
