@import '../../styles/variables.css';

.possibilities {
  padding-top: 30px;
  padding-bottom: 30px;

  @media (--mobile-viewport) {
    padding-bottom: 20px;
  }

  @media (--tablet-viewport) {
  }

  @media (--tablet-landscape-viewport) {
    padding-top: 60px;
  }

  @media (--laptop-viewport) {
    padding-top: 80px;
  }

  @media (--desktop-viewport) {
    padding-top: 80px;
    padding-bottom: 50px;
  }

  &__title,
  &__subtitle {
    @media (--laptop-viewport) {
      padding-right: var(--padding-side-columns);
    }

    @media (--desktop-viewport) {
      padding-right: calc(2 * var(--padding-side-columns));
    }
  }

  &__title {
    padding-top: 0;
    padding-bottom: 60px;

    @media (--mobile-viewport) {
      font-size: 28px;
      line-height: 30px;
      padding-bottom: 40px;
    }

    @media (--tablet-viewport) {
      font-size: 40px;
      line-height: 42px;
      padding-bottom: 60px;
    }

    @media (--tablet-landscape-viewport) {
      font-size: 50px;
      line-height: 65px;
      padding-bottom: 40px;
    }

    @media (--laptop-viewport) {
      font-size: 60px;
      line-height: 78px;
      padding-bottom: 60px;
    }

    @media (--desktop-viewport) {
      font-size: 60px;
      line-height: 78px;
      padding-bottom: 60px;
    }
  }

  &__subtitle {
    font-size: var(--font-size-subtitle-2);
    line-height: var(--line-height-subtitle-2);
    font-weight: 500;
    margin-bottom: 80px;

    @media (--mobile-viewport) {
      font-size: 18px;
      line-height: 23px;
      margin-bottom: 40px;
    }
    @media (--tablet-viewport) {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 50px;
    }
    @media (--tablet-landscape-viewport) {
      font-size: 24px;
      line-height: 31px;
      margin-bottom: 60px;
    }
    @media (--laptop-viewport) {
      font-size: 32px;
      line-height: 42px;
      margin-bottom: 80px;
    }
    @media (--desktop-viewport) {
      font-size: 32px;
      line-height: 42px;
      margin-bottom: 80px;
    }

    & .link--default {
      display: inline-block;
    }
  }

  &__wrapper {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    @media (--mobile-viewport) {
      display: none;
    }
    @media (--tablet-viewport) {
      min-height: 300px;
    }

    &__mobile {
      display: flex;
      flex-direction: column;
      @media (--mobile-viewport) {
        display: flex;
        flex-direction: column;
      }
      @media (--tablet-viewport) {
        display: none;
      }
      @media (--tablet-landscape-viewport) {
        display: none;
      }
      @media (--laptop-viewport) {
        display: none;
      }
      @media (--desktop-viewport) {
        display: none;
      }
    }
  }

  &__box {
    width: 69%;
    height: 222px;
  }
  &__tabs {
    width: 30%;
    font-size: 32px;
    line-height: 42px;

    @media (--mobile-viewport) {
    }
    @media (--tablet-viewport) {
      width: 181px;
      font-size: 20px;
      line-height: 26px;
    }
    @media (--tablet-landscape-viewport) {
      width: 243px;
      font-size: 24px;
      line-height: 31px;
    }
    @media (--laptop-viewport) {
      width: 340px;
      font-size: 32px;
      line-height: 42px;
    }
    @media (--desktop-viewport) {
      width: 340px;
      font-size: 32px;
      line-height: 42px;
    }
  }

  &__tabs {
    @media (--mobile-viewport) {
      display: none;
    }

    & .tabs__tab {
      cursor: default !important;
    }
  }

  &__content {
    &__title {
      position: relative;
      margin-top: 24px;
      font-weight: 400;
      margin-bottom: 20px;
      border-bottom: 1px solid color-mod(#1e1e1e alpha(20%));
      padding: 6px 0;
      line-height: 24px;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.275px;
      color: color-mod(#1e1e1e alpha(30%));
      padding-right: 24px;
      cursor: pointer;

      &:before {
        content: '';
        position: absolute;
        top: 18px;
        right: 0;
        height: 2px;
        width: 12px;
        background-color: var(--color-secondary);
      }

      &:after {
        content: '';
        position: absolute;
        top: 13px;
        right: 5px;
        width: 2px;
        height: 12px;
        background-color: var(--color-secondary);
      }

      &--current {
        color: #1e1e1e;

        &:after {
          display: none;
        }
      }

      @media (--tablet-viewport) {
        display: none;
      }
    }

    display: none;

    @media (--mobile-viewport) {
      display: block !important;
    }

    &--visible {
      display: block;
    }

    & .collapsible__title {
      display: none;

      @media (--mobile-viewport) {
        display: block !important;
      }
    }

    & .collapsible__content {
      @media (--tablet-viewport) {
        display: block;
      }
    }
  }
}
