@import '../../styles/variables.css';

.checkbox {
  position: relative;
  padding: 24px 0;

  &__label {
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
  }

  &__checkbox {
  }

  &__text {
    line-height: 36px;
  }
}

.checkbox {
  &__label {
    display: inline-block;
    padding-left: 56px;
  }

  &__input {
    position: absolute;
    appearance: none;
    right: 10000px;

    &:hover + .checkbox__checkbox {
    }
    &:focus + .checkbox__checkbox {
      /* background-color: var(--color-primary); */
    }

    &:checked + .checkbox__checkbox {
      background-color: var(--color-primary);
      box-shadow: inset 0 0 0 0 #1e1e1e;

      & svg {
        & path {
          stroke-dashoffset: 0;
        }
      }
    }

    &:checked:focus + .checkbox__checkbox {
      box-shadow: inset 0 0 0px 2px #1e1e1e;
    }
  }

  &__checkbox {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -18px;
    width: 36px;
    height: 36px;
    box-shadow: inset 0 0 0px 2px #1e1e1e;
    transition: box-shadow 150ms ease, background 150ms ease;

    & svg {
      position: absolute;
      top: 12px;
      left: 11px;

      & path {
        stroke-dasharray: 18;
        stroke-dashoffset: 18;
        transition: stroke-dasharray 150ms ease-out,
          stroke-dashoffset 150ms ease-out;
      }
    }
  }

  &__text {
    font-size: 14px;
    line-height: 18px;
  }
}
