@import '../../styles/variables.css';

.effective-communication {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;

  @media (--tablet-viewport) {
    padding-top: 40px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (--laptop-viewport) {
    padding-top: 80px;
    padding-bottom: 60px;
    margin-top: 80px;
    background-color: #fff;
    box-shadow: calc(var(--margin-container-side) / 2) 0 #fff;
  }

  &:before {
    @media (--laptop-viewport) {
      content: '';
      position: absolute;
      height: 330px;
      left: 0;
      top: -80px;
      right: calc(-1 * var(--margin-container-side));
      background-color: var(--color-secondary);
      z-index: -1;
    }
  }

  & .heading {
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
    margin-top: 0;
    margin-bottom: 60px;
  }

  .column {
    @media (--tablet-viewport) {
      width: calc(50% - var(--padding-side-columns) / 2);
    }

    &--image {
      @media (--tablet-viewport) {
        display: flex;
        flex-direction: column;
      }
    }
  }

  & .image {
    position: relative;
    max-width: 500px;
    width: 80%;
    margin: 0 auto;

    @media (--tablet-viewport) {
      margin-top: auto;
      margin-bottom: 40px;
      max-width: 340px;
    }

    @media (--tablet-landscape-viewport) {
      margin-top: auto;
      margin-bottom: auto;
      max-width: 500px;
      width: 500px;
    }

    &:before {
      content: '';
      position: absolute;
      height: 50%;
      left: -20px;
      right: -20px;
      bottom: 25%;
      background-color: var(--color-primary);
      z-index: 0;

      @media (--tablet-viewport) {
        left: calc(-1 * var(--margin-container-side));
        bottom: -40px;
        height: 80%;
      }

      @media (--tablet-landscape-viewport) {
        bottom: 0;
        height: 70%;
      }

      @media (--desktop-viewport) {
        right: -80px;
        left: -160px;
      }
    }
  }

  & .item {
    margin-top: 40px;

    @media (--tablet-viewport) {
      &:first-of-type {
        margin-top: 14px;
      }
    }

    @media (--tablet-landscape-viewport) {
      margin-top: 60px;

      &:first-of-type {
        margin-top: 18px;
      }
    }

    &__title {
      font-weight: 500;
      font-size: var(--font-size-title-2);
      line-height: var(--line-height-title-2);
    }

    & .list li {
      @media (--tablet-viewport) {
        margin-top: 30px;
        padding-left: 40px;
      }

      @media (--tablet-landscape-viewport) {
        margin-top: 40px;
        padding-left: 60px;
      }
    }
  }
}
