/*
 * Copyright 2019 dialog LLC <info@dlg.im>
 */

/* START button.css */

:root {
	--button-text-color: #fff;
	--button-background-color: #1e1e1e;
	--button-hover-background-color: #b9bbfa;
	--button-font-size: 18px;
	--button-line-height: 23px;
	--button-padding: 20px;
}

.button {
	display: inline-block;
	text-align: center;
	font-size: var(--button-font-size);
	line-height: var(--button-line-height);
	padding: var(--button-padding);
	transition: 300ms;

	&:hover {
		cursor: pointer;
	}

	&--default {
		-webkit-font-smoothing: antialiased;
		color: var(--button-text-color);
		background-color: var(--button-background-color);

		@media (--mobile-viewport) {
			width: 100%;
			max-width: 400px;
		}

		@media (--tablet-viewport) {
			min-width: 150px;
		}

		&:hover {
			background-color: var(--button-hover-background-color);
		}
	}

	&--pale {
		background-color: transparent;
		box-shadow: inset 0 0 2px rgba(30, 30, 30, 0.1);

		&:hover {
			background-color: rgba(30, 30, 30, 0.1);
		}
	}
}
