/*
 * Copyright 2019 dialog LLC <info@dlg.im>
 */

:root {
  --input-height: 36px;
}

.form {
  &-item {
    margin-top: 40px;

    &:first-of-type {
      margin-top: 0;
    }

    @media (--tablet-viewport) {
      margin-top: 60px;
    }

    &--default {
      position: relative;
      margin-top: 60px;

      @media (--tablet-viewport) {
        margin-top: 80px;
      }
    }

    &--checkbox {
      position: relative;
    }
  }
}

.checkbox {
  &__label {
    display: inline-block;
    padding-left: 56px;
  }

  &__input {
    position: absolute;
    appearance: none;

    &:hover + .checkbox__checkbox {
    }

    &:checked + .checkbox__checkbox {
      background-color: var(--color-primary);
      box-shadow: inset 0 0 0px 2px var(--color-primary);

      & svg {
        & path {
          stroke-dashoffset: 0;
        }
      }
    }
  }

  &__checkbox {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -18px;
    width: 36px;
    height: 36px;
    box-shadow: inset 0 0 0px 2px #1e1e1e;

    transition: 0.4s;

    & svg {
      position: absolute;
      top: 12px;
      left: 11px;

      & path {
        stroke-dasharray: 18;
        stroke-dashoffset: 18;
        transition: 0.4s;
      }
    }
  }

  &__text {
    font-size: 14px;
    line-height: 18px;
  }
}

.input {
  &--default {
    height: var(--input-height);
    background-color: transparent;
    width: 100%;
    display: inline-block;
    appearance: none;
    border: none;
    border-bottom: 2px solid rgba(216, 216, 216, 0.2);
    padding: 0 var(--default-padding);
    font-size: var(--font-size-content-3);
    line-height: var(--line-height-content-3);
    outline: none;

    &:focus {
      border-bottom-color: #b9bbfa;
    }

    @media (--tablet-viewport) {
    }
  }
}

.label {
  &--default {
    font-size: var(--font-size-content-3);
    transition: 0.2s;

    position: absolute;
    left: 0;
    top: 8px;

    .input--default:focus + &,
    .input--default.input--filled + & {
      top: -26px;
      opacity: 0.3;
      font-size: 14px;
    }
  }
}

textarea {
  &.input--default {
    height: auto;
  }
}
