/*
 * Copyright 2019 dialog LLC <info@dlg.im>
 */

/* START home.css */

.home {
  &__section {
    padding-top: 30px;
    padding-bottom: 30px;

    &:first-of-type {
      padding-top: 0;
    }

    @media (--tablet-viewport) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  &__intro {
    position: relative;

    @media (--tablet-viewport) {
      padding-bottom: 45px;
    }

    @media (--tablet-landscape-viewport) {
      padding-bottom: 50px;
    }

    @media (--laptop-viewport) {
      padding-bottom: 60px;
    }

    &:before {
      content: '';
      position: absolute;
      /* top depends on header's height */
      top: -60px;
      left: calc(-1 * var(--margin-container-side));
      right: calc(-1 * var(--margin-container-side));
      bottom: 24%;
      background: var(--color-primary);
      z-index: -1;

      @media (--tablet-viewport) {
        top: -88px;
        right: calc(50% - var(--padding-side-columns) * 2);
        bottom: 0;
      }

      @media (--tablet-landscape-viewport) {
        top: -100px;
      }

      @media (--laptop-viewport) {
        top: -140px;
        right: calc(50% - var(--padding-side-columns) * 1.5);
      }
    }

    &-box {
      @media (--tablet-viewport) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }

    &-info {
      padding-bottom: 20px;

      @media (--tablet-viewport) {
        width: calc(50% - var(--padding-side-columns) / 2);
        padding-bottom: 0;
      }

      @media (--desktop-viewport) {
        width: calc(50% - var(--padding-side-columns));
      }
    }

    &-title {
      margin: 0;
      font-size: var(--font-size-title);
      line-height: var(--line-height-title);
      padding-bottom: 24px;

      @media (--tablet-viewport) {
        margin-right: calc(-1 * var(--padding-side-columns) / 2);
        padding-bottom: 20px;
      }

      @media (--tablet-landscape-viewport) {
        padding-bottom: 30px;
      }

      @media (--laptop-viewport) {
        padding-bottom: 40px;
      }

      @media (--desktop-viewport) {
        margin-right: 0;
      }
    }

    &-text {
      margin: 0 0 35px;
      font-size: var(--font-size-subtitle);
      line-height: var(--line-height-subtitle);
      letter-spacing: var(--letter-spacing-0275);

      @media (--tablet-viewport) {
        margin-bottom: 40px;
      }

      @media (--tablet-landscape-viewport) {
        margin-bottom: 60px;
      }
    }

    &-button {
      @media (--mobile-viewport) {
        min-width: 280px;
      }

      @media (--tablet-viewport) {
        padding-left: 28px;
        padding-right: 28px;
      }
    }

    &-image {
      @media (--tablet-viewport) {
        width: calc(50% + var(--padding-side-columns) / 2 - 10px);
        margin-right: calc(-1 * var(--margin-container-side) / 2);
        position: relative;
      }

      @media (--tablet-landscape-viewport) {
        width: calc(50%);
        margin-bottom: 12px;
      }

      @media (--laptop-viewport) {
        width: calc(50% + var(--padding-side-columns));
        margin-right: calc(-1 * var(--padding-side-columns) + 25px);
      }

      @media (--laptop-viewport) {
        margin-top: -20px;
        margin-bottom: -20px;
        margin-right: -120px;
      }
    }

    &-img {
      @media (--mobile-viewport) {
        display: block;
        max-width: 85%;
        margin: auto;
        max-height: 300px;
      }

      @media (--tablet-viewport) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  /* ! .home__intro */

  &__platform {
    &-title {
      padding: 0;
    }

    &-box {
    }
  }
  /* ! .home__platform */
}
