/*
 * Copyright 2019 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

.features {
  position: relative;

  padding-top: 0;
  padding-bottom: 0;

  & .heading {
    @media (--mobile-viewport) {
      padding-top: 25px;
    }
  }

  &__tabs {
    margin-bottom: 100px;

    @media (--mobile-viewport) {
      display: none;
    }
  }

  &__content {
    &__block {
      display: block;

      @media (--tablet-viewport) {
        display: none;

        &--visible {
          display: block;
        }
      }

      &:first-child {
        & .feature_block__slides__heading {
          margin-top: 0;
        }
      }

      & .tabs__tab {
        cursor: default !important;
      }
    }

    @media (--mobile-viewport) {
      margin-bottom: 60px;
    }

    @media (--tablet-viewport) {
      /* min-height depends on content (get max of height all .feature_block__slide) */
      min-height: 830px;
      margin-bottom: 120px;
    }

    @media (--tablet-landscape-viewport) {
      min-height: 500px;
    }

    @media (--laptop-viewport) {
      min-height: 592px;
      margin-bottom: 160px;
    }

    @media (--desktop-viewport) {
      min-height: 550px;
    }
  }

  &:before {
    content: '';
    position: absolute;
    left: calc(100% - 140px);
    top: 0;
    width: 400px;
    height: 620px;
    transition: background 200ms ease;
    z-index: -1;

    @media (--mobile-viewport) {
      display: none;
    }
  }

  &--primary {
    &:before {
      background-color: var(--color-primary);
    }
  }
  &--secondary {
    &:before {
      background-color: var(--color-secondary);
    }
  }
  &--transparent {
    &:before {
      background-color: transparent;
    }
  }
}

.feature_block {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  @media (--tablet-viewport) {
    justify-content: space-between;
  }

  @media (--tablet-landscape-viewport) {
    justify-content: flex-start;
  }

  & .features__tabs {
    @media (--tablet-viewport) {
      width: 32%;
    }

    @media (--desktop-viewport) {
      padding-right: 60px;
    }
  }

  &__slides {
    position: relative;

    @media (--tablet-viewport) {
      width: 60%;
    }

    @media (--tablet-landscape-viewport) {
      width: 32%;
      margin-left: var(--padding-side-columns);
    }

    @media (--laptop-viewport) {
      /*flex: 0 0 560px;*/
    }

    &__heading {
      font-size: 18px;
      line-height: 24px;
      color: var(--color-secondary);
      letter-spacing: 0.275px;
      font-weight: 500;
      margin: 60px 0 20px;
      padding: 0;

      @media (--tablet-viewport) {
        display: none;
      }
    }

    @media (--mobile-viewport) {
      flex: 1 1 auto;
    }

    & .collapsible__title {
      @media (--tablet-viewport) {
        display: none;
      }
    }
  }

  &__slide {
    display: none;

    h4 {
      font-size: var(--font-size-content-3);
      line-height: var(--line-height-content-3);
      letter-spacing: 0.275px;
      font-weight: 500;
      padding: 0;
      margin: 60px 0 20px;

      &:first-child {
        margin-top: 0;
      }
    }

    p {
      padding: 0;
      margin: 0;
      font-size: var(--font-size-content-2);
      line-height: var(--line-height-content-2);
      letter-spacing: 0.01em;

      + p {
        margin-top: 20px;
      }
    }

    &__links {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
    }

    &__text {
      /* opacity: 0; */
      /* transform: translateY(30%) translateZ(0); */
      /* transition: transform 350ms ease, opacity 200ms ease; */
    }

    @media (--mobile-viewport) {
      position: relative;
      padding-top: 20px;
      padding-bottom: 60px;

      .collapsible:last-of-type & {
        padding-bottom: 0;
      }

      h4 {
        margin-top: 40px;
      }
    }

    @media (--tablet-viewport) {
      position: relative;

      &--active {
        display: block;
      }
    }

    @media (--tablet-landscape-viewport) {
    }
  }

  &__image {
    flex: 0 0 auto;
    position: absolute;
    display: block;
    /*opacity: 0;*/
    transform-origin: center center;
    /*transition: transform 400ms ease, scale 300ms ease, opacity 200ms ease;
    transform: translateZ(0) translateX(350%) translateY(-50%) scale(0.7);
    transform: translateZ(0) translateX(350%) translateY(-50%) scale(0.7);*/

    @media (--mobile-viewport) {
      display: block;
      position: relative;
      opacity: 1;
      margin: 40px auto 0;
      transform: translateX(0) translateY(0) scale(1);
      max-width: 100%;
    }

    @media (--tablet-viewport) {
      top: calc(100% + 60px);
      left: 0;

      &--mobile {
        left: auto;
        right: 0;
      }

      &--laptop {
        left: 25%;
        max-height: 300px;
      }

      &--printscreen {
        top: 100%;
        left: -60px;
      }

      &--whitelabel {
        top: 100%;
        left: auto;
        right: -30px;
        max-height: none;
      }
    }

    @media (--tablet-landscape-viewport) {
      top: 0;
      left: 100%;
      /*
      opacity: 0;
      transform: translateZ(0) translateX(350%) translateY(-50%) scale(0);
      */
      transition: transform 500ms;
      transform: scale(0);

      &--mobile {
        left: calc(100% + var(--padding-side-columns));
        right: auto;
      }

      &--laptop {
        left: calc(100% + 40px);
      }

      &--printscreen {
        top: -60px;
      }

      &--ad {
        top: -40px;
      }

      &--whitelabel {
        max-height: 300px;
        top: -40px;
      }

      .feature_block__slide--active & {
        /*opacity: 1;
        transform: translateZ(0) translateX(-20%) translateY(-50%) scale(1);
        */
        transform: scale(1);
      }
    }

    @media (--laptop-viewport) {
      &--laptop {
        top: -46px;
        max-height: none;
      }

      &--printscreen {
        left: calc(100% + 40px);
      }
    }
  }
}
