.vacancies__content {
  display: none;

  @media (--mobile-viewport) {
    display: block !important;
  }
}

.vacancies__filter {
  @media (--mobile-viewport) {
    display: none;
  }
}
.vacancies__content--visible {
  display: block;
}

.vacancies {
  & .collapsible--open {
    & .collapsible__title {
      margin-bottom: 40px;
    }
  }

  & .collapsible__title {
    display: none;

    @media (--mobile-viewport) {
      display: block !important;
    }
  }
}

.vacancies .collapsible__content {
  @media (--tablet-viewport) {
    display: block;
  }
}

.vacancies__boxes {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;

  @media (--mobile-viewport) {
    flex-flow: column wrap;
  }
}

.vacancies__filter {
  margin: 30px 0;

  span {
    font-size: 30px;
    line-height: 42px;
    font-weight: 500;
  }
}

.vacancies {
  margin-bottom: 50px;
}
