.organize {
  &__row {
    display: flex;
  }

  &__wrapper {
    position: relative;
    margin-left: var(--gap-n-2);
    margin-right: var(--gap-n-2);
  }

  &__col {
    width: 50%;
    padding-left: var(--gap-2);
    padding-right: var(--gap-2);
  }

  &__title {
    font-size: var(--font-size-title-3);
    line-height: var(--line-height-title-3);
    margin-top: 0;
  }

  &__subtitle {
    font-size: var(--font-size-subtitle);
    line-height: var(--line-height-subtitle);
  }

  &__text {
    font-size: var(--font-size-content-2);
    line-height: var(--line-height-content-2);
  }

  &__group {
    margin-bottom: 60px;

    @media (--tablet-viewport) {
      margin-bottom: 80px;
    }

    @media (--laptop-viewport) {
      margin-bottom: 100px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &--min-height {
    .organize__group {
      @media (--laptop-viewport) {
        .item__title {
          min-height: 124px;
        }
        &:first-of-type {
          .organize__list {
            min-height: 185px;
          }
        }
      }
      @media (max-width: 1439px) {
        .item__title {
          min-height: 100px;
        }
        &:first-of-type {
          .organize__list {
            min-height: 185px;
          }
        }
      }
      @media (max-width: 1023px) {
        .item__title {
          min-height: 0px;
        }
        &:first-of-type {
          .organize__list {
            min-height: 0px;
          }
        }
      }
    }
  }

  &__item:not(#_) {
    padding-left: 40px;

    &:before {
      background-color: #000000;
      width: 20px;
      height: 20px;
    }
  }

  @media (--middle-viewport) {
    &__subtitle {
      min-height: 58px;
    }
    &__row {
      width: 100%;
      display: flex;
    }
  }
  @media (max-width: 1023px) {
    &__row {
      flex-wrap: wrap;
      margin: auto;
    }
    &__col {
      min-width: 100%;

      &:not(:first-child) {
        padding-top: var(--gap-5);
        padding-bottom: var(--gap-2);
      }
    }
  }
}
