@import '../../styles/variables.css';

.vacancies__box {
  flex: 1 1 auto;
  height: 205px;
  border: 1px solid color-mod(#000 alpha(17.5%));
  margin: 0 0 30px;
  background-color: #fff;
  cursor: pointer;
  transition: all 150ms ease;
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
  width: 100%;

  @media (--tablet-viewport) {
    flex: 0 0 48%;
    margin-right: 4%;

    &:nth-child(even) {
      margin-right: 0;
    }
  }

  @media (--tablet-landscape-viewport) {
    flex: 0 0 32%;
    margin-right: 2% !important;

    &:nth-child(3n) {
      margin-right: 0 !important;
    }
  }

  &:hover {
    background: color-mod(var(--color-primary) alpha(35%));
    border: 1px solid color-mod(#81ffb8 alpha(35%));
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.035);
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 20px 30px;
    justify-content: space-between;
  }

  &__title {
    margin: 20px auto;
    text-align: center;
    font-weight: 500;

    @media (--mobile-viewport) {
      font-size: 16px;
      line-height: 22px;
    }

    @media (--tablet-viewport) {
      font-size: 16px;
      line-height: 22px;
    }

    @media (--tablet-landscape-viewport) {
      font-size: 16px;
      line-height: 22px;
    }

    @media (--laptop-viewport) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__tags {
    margin: 0 auto;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;

    & span {
      &:after {
        content: '\a0 \2022 \a0';
        font-size: 11px;
      }

      &:last-child:after {
        display: none;
      }
    }
  }
}
