<div class="share-box">
  <a class="share-box__link share-box__link--arrow"></a>
  <a class="share-box__link share-box__link--vk"></a>
  <a class="share-box__link share-box__link--fb"></a>
  <a class="share-box__link share-box__link--tw"></a>
</div>