.recommend {
  position: relative;
  padding-top: 0;
  padding-bottom: 30px;

  &__wrapper {
    height: 200px;
    display: flex;

    @media (--mobile-viewport) {
      flex-direction: column;
      margin-bottom: 40px;
    }

    @media (--tablet-viewport) {
      height: 160px;
    }

    @media (--laptop-viewport) {
      height: 200px;
    }
  }

  &__left {
    width: 63%;
    background-color: var(--color-secondary);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-left: var(--margin-container-side);

    @media (--mobile-viewport) {
      width: 100%;
      flex-flow: column wrap;
      padding: 30px 0;
    }

    @media (--tablet-viewport) {
      padding-right: 40px;
    }

    @media (--laptop-viewport) {
      padding-right: 50px;
    }

    @media (--desktop-viewport) {
      padding-right: 100px;
      padding-left: calc((100% - 1320px) / 2);
    }

    &__img {
      @media (--mobile-viewport) {
        height: 24px;
        width: auto;
      }

      @media (--tablet-viewport) {
        height: 24px;
        width: auto;
      }

      @media (--tablet-landscape-viewport) {
        height: 40px;
        width: auto;
      }
    }

    &__award {
      flex: 0 0 auto;

      @media (--mobile-viewport) {
        margin-top: 10px;
        font-size: 30px;
        line-height: 49px;
        font-weight: 500;

        & span {
          margin-left: 14px;
        }
      }

      @media (--tablet-viewport) {
        margin-left: 24px;
        font-size: 30px;
        line-height: 49px;
        font-weight: 500;

        & span {
          margin-left: 14px;
        }
      }

      @media (--tablet-landscape-viewport) {
        font-size: 40px;
        line-height: 65px;
        font-weight: 500;
        display: flex;
        align-items: center;

        & span {
          margin-left: 14px;
        }
      }

      @media (--laptop-viewport) {
        font-size: 60px;
        line-height: 97px;
        font-weight: 500;

        & span {
          padding-top: 10px;
          margin-left: 14px;
        }
      }
    }
  }

  &__right {
    width: 37%;
    background-color: var(--color-primary);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-right: var(--margin-container-side);

    @media (--mobile-viewport) {
      width: 100%;
      flex-direction: column;
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center;
    }

    @media (--tablet-viewport) {
      padding-left: 40px;
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: left;
    }

    @media (--laptop-viewport) {
      padding-right: calc((100% - 1320px) / 2);
      padding-left: 50px;
    }

    @media (--desktop-viewport) {
      padding-left: 100px;
    }

    a {
      text-decoration: none;
      border-bottom: 2px solid var(--color-secondary);
    }
  }
}
