<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { title: 'Блог' }) %>

  <body>
    <div class="site__wrapper">
      <%- include('partials/header') %>

      <main class="page blog">
          <div class="container">
            <div class="blog__top-section">
              <div class="blog__main box-block">
                <div class="blog__main-image">
                  <!-- <img src="/assets/images/blog/blog1.png" alt=""> -->
                  <img
                    src="https://dialog-2.ghost.io/content/images/2018/12/5---------1.png"
                    alt=""
                  />
                </div>
                <div class="blog__main-date">12 сентября 2018</div>
                <div class="blog__main-title">
                  <a href="">Какой ущерб могут нанести массовые мессенджеры</a>
                </div>
                <div class="blog__main-short">
                  Созданные ускорять принятие решений в компании, повышать
                  продуктивность и прозрачность работы, массовые мессенджеры
                  могут стать источником дополнительных трудностей
                </div>
                <div class="blog__main-tags">
                  <span>Инновационные технологии</span>
                </div>
              </div>
              <!-- blog__main -->

              <div class="blog__secondary">
                <section class="blog__popular box-block">
                  <h2 class="blog__popular-title">Популярные статьи</h2>
                  <div class="blog__popular-list">
                    <div class="blog__popular-item">
                      <div class="blog__popular-image-box">
                        <div class="blog__popular-image">
                          <img src="/assets/images/blog/blog1.png" alt="" />
                        </div>
                      </div>
                      <div class="blog__popular-info">
                        <div class="blog__popular-date">15 августа 2018</div>
                        <div class="blog__popular-item-title">
                          <a href="" class="blog__popular-item-title-link">
                            Поколение Х, миллениалы, беби-бумеры: как люди
                            разных поколений используют мессенджер в работе
                          </a>
                        </div>
                      </div>
                    </div>
                    <!-- blog__popular-item -->
                    <div class="blog__popular-item">
                      <div class="blog__popular-image-box">
                        <div class="blog__popular-image">
                          <img
                            src="/assets/images/blog/blog-table-1.png"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="blog__popular-info">
                        <div class="blog__popular-date">23 сентября 2018</div>
                        <div class="blog__popular-item-title">
                          <a href="" class="blog__popular-item-title-link">
                            12 правил делового общения в мессенджерах
                          </a>
                        </div>
                      </div>
                    </div>
                    <!-- blog__popular-item -->
                    <div class="blog__popular-item">
                      <div class="blog__popular-image-box">
                        <div class="blog__popular-image">
                          <img
                            src="/assets/images/blog/curent-site-1.jpg"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="blog__popular-info">
                        <div class="blog__popular-date">2 марта 2019</div>
                        <div class="blog__popular-item-title">
                          <a href="" class="blog__popular-item-title-link">
                            Статья блога с текущего сайта с изображением оттуда
                          </a>
                        </div>
                      </div>
                    </div>
                    <!-- blog__popular-item -->
                  </div>
                </section>

                <section class="blog__tags box-block">
                  <h2 class="blog__tags-title">Теги</h2>
                  <ul class="blog__tags-list">
                    <li class="blog__tags-item">
                      <a href="blog-tag.html" class="blog__tags-link">
                        <span class="blog__tags-name"
                          >Инновационные технологии</span
                        >
                        <span class="blog__tags-amount">421</span>
                      </a>
                    </li>
                    <li class="blog__tags-item">
                      <a href="blog-tag.html" class="blog__tags-link">
                        <span class="blog__tags-name">Новости</span>
                        <span class="blog__tags-amount">301</span>
                      </a>
                    </li>
                    <li class="blog__tags-item">
                      <a href="blog-tag.html" class="blog__tags-link">
                        <span class="blog__tags-name">Корпорации</span>
                        <span class="blog__tags-amount">244</span>
                      </a>
                    </li>
                    <li class="blog__tags-item">
                      <a href="blog-tag.html" class="blog__tags-link">
                        <span class="blog__tags-name"
                          >Государственный сектор</span
                        >
                        <span class="blog__tags-amount">244</span>
                      </a>
                    </li>
                  </ul>
                </section>
              </div>
              <!-- blog__secondary -->
            </div>

            <section class="blog__roster-section">
              <div class="blog__roster">
                <div class="blog__roster-title">
                  Последние статьи
                </div>
                <div class="blog__roster-list">
                  <div class="blog__roster-item">
                    <a href="" class="blog__roster-item-link">
                      <div class="blog__roster-image-box">
                        <div class="blog__roster-image">
                          <img
                            src="/assets/images/blog/blog-table-1.png"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="blog__roster-date">12 ноября 2018</div>
                      <div class="blog__roster-name">
                        Как это было: CNews Forum 2018
                      </div>
                      <div class="blog__roster-short">
                        8 ноября 11-я ежегодная конференция CNews Forum 2018
                        собрала предcтавителей бизнеса, госструктур и
                        ИТ-компаний для обсуждения инновационных технологий
                      </div>
                      <div class="blog__roster-tags">
                        <span>Инновационные технологии</span>
                        <span>Новости</span>
                      </div>
                    </a>
                  </div>
                  <div class="blog__roster-item">
                    <a href="" class="blog__roster-item-link">
                      <div class="blog__roster-image-box">
                        <div class="blog__roster-image">
                          <img
                            src="https://dialog-2.ghost.io/content/images/2019/03/hubot.jpg"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="blog__roster-date">1 ноября 2019</div>
                      <div class="blog__roster-name">Hubot & dialog</div>
                      <div class="blog__roster-short">
                        Благодаря bountysource у нас появился адаптер для Hubot
                        — чат-бота от разработчиков Github для автоматизации
                        различных действий
                      </div>
                      <div class="blog__roster-tags">
                        <span>Прорыв</span>
                        <span>Разработка</span>
                      </div>
                    </a>
                  </div>
                  <div class="blog__roster-item">
                    <a href="" class="blog__roster-item-link">
                      <div class="blog__roster-image-box">
                        <div class="blog__roster-image">
                          <img
                            src="https://dialog-2.ghost.io/content/images/2019/02/-----------44-.jpg"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="blog__roster-date">22 ноября 2018</div>
                      <div class="blog__roster-name">
                        «Диалог» и «Росплатформа» протестировали совместимость
                        своих продуктов
                      </div>
                      <div class="blog__roster-short">
                        Тестирование совместимости dialog с программным
                        обеспечением компании «Росплатформа» прошло успешно:
                        наши отечественные решения работают стабильно и
                        эффективно.
                      </div>
                      <div class="blog__roster-tags">
                        <span>Разработка</span>
                      </div>
                    </a>
                  </div>
                  <div class="blog__roster-item">
                    <a href="" class="blog__roster-item-link">
                      <div class="blog__roster-image-box">
                        <div class="blog__roster-image">
                          <img
                            src="https://dialog-2.ghost.io/content/images/2018/11/delovoe-obshenie-2.png"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="blog__roster-date">22 ноября 2018</div>
                      <div class="blog__roster-name">
                        Создавайте умных ботов на Java Bot SDK
                      </div>
                      <div class="blog__roster-short">
                        Мы выложили в открытый доступ dialog API и продолжаем
                        над ним работу. Теперь ты можешь создавать ботов, SDK и
                        интеграции с полезными сервисами.
                      </div>
                      <div class="blog__roster-tags">
                        <span>Новости</span>
                        <span>Корпорации</span>
                      </div>
                    </a>
                  </div>
                  <div class="blog__roster-item">
                    <a href="" class="blog__roster-item-link">
                      <div class="blog__roster-image-box">
                        <div class="blog__roster-image">
                          <img
                            src="https://dialog-2.ghost.io/content/images/2019/02/Izbrannoe.jpg"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="blog__roster-date">22 ноября 2018</div>
                      <div class="blog__roster-name">
                        Рынок мессенджеров. Актуальные темы и тенденции отрасли
                        в 2018
                      </div>
                      <div class="blog__roster-short">
                        Согласно исследованию Deloitte, мессенджеры в России
                        являются самыми востребованными мобильными приложениями
                        — их используют 93% пользователей смартфонов.
                      </div>
                      <div class="blog__roster-tags">
                        <span>Государственный сектор</span>
                        <span>Корпорации</span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>

              <div class="button button--pale blog__button-more">
                Смотреть еще
              </div>
            </section>

            <section class="blog__subscribe-section">
              <div class="subscribe">
                <div class="subscribe-title">
                  Подпишитесь на свежие статьи блога!
                </div>
                <div class="subscribe-form-box">
                  <form action="" class="form subscribe__form">
                    <div
                      class="form-item form-item--default subscribe__form-item"
                    >
                      <input
                        type="email"
                        class="input--default"
                        id="blog-subscribe-email"
                        name="BLOG_SUBSCRIBE_EMAIL"
                      />
                      <label for="blog-subscribe-email" class="label--default"
                        >Ваш Email</label
                      >
                    </div>

                    <div
                      class="form-item subscribe__form-item subscribe__form-item__button"
                    >
                      <button type="submit" class="button button--default">
                        Подписаться
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </section>
          </div>
      </main>

      <%- include('partials/footer') %>
    </div>

    <script src="/assets/index.js"></script>
  </body>
</html>
