<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: 'Патенты и лицензии' }) %>

<body>
  <div class="site__wrapper">
    <%- include('partials/header') %>

    <main class="site__middle">
      <div class="license page--license">
        <div class="container">
          <div class="license__column-content">
            <section class="license__section license__intro">
              <h1 class="h1--default license__intro-title">Патенты и лицензии</h1>
              <div class="license__intro-text">
                Процесс производства программного обеспечения основан на практиках дизайн-мышления, принципах архитектурного единства, положениях и принципах манифеста Agile и практиках DevOps. Он определяется внутренним регламентом процесса проектирования и внедрения технологий. Для поддержки и устранения выявленных ошибок в программном обеспечении внедрён процесс управления инцидентами и запросами обслуживания.
              </div>
            </section>

            <section class="license__section license__photos license__photos--patents">
              <div class="license__photos-title">Компания является правообладателем 6 программных продуктов, которые зарегистрированы в Роспатенте</div>
              <div class="license__photos-list">
                <div class="license__photos-item license--dialog-server">
                  <img class="license__photos-image" src="/assets/images/patent-dialog-server.jpg" alt="Dialog server">
                  <div class="license__photos-link-box">
                    <a class="link--download license__photos-link" href="">
                      <span class="link--download__text">Dialog server</span>
                      <img src="/assets/images/svg-icons/arrow-download.svg" alt="" class="link--download__icon">
                    </a>
                  </div>
                </div>
                <div class="license__photos-item license--dialog-core">
                  <img class="license__photos-image" src="/assets/images/patent-dialog-core.jpg" alt="Dialog Core">
                  <div class="license__photos-link-box">
                    <a class="link--download license__photos-link" href="">
                      <span class="link--download__text">Dialog Core</span>
                      <img src="/assets/images/svg-icons/arrow-download.svg" alt="" class="link--download__icon">
                    </a>
                  </div>
                </div>
                <div class="license__photos-item license--dialog-android-sdk">
                  <img class="license__photos-image" src="/assets/images/patent-dialog-android-sdk.jpg" alt="Dialog Android SDK">
                  <div class="license__photos-link-box">
                    <a class="link--download license__photos-link" href="">
                      <span class="link--download__text">Dialog Android SDK</span>
                      <img src="/assets/images/svg-icons/arrow-download.svg" alt="" class="link--download__icon">
                    </a>
                  </div>
                </div>
                <div class="license__photos-item license--dialog-ios-sdk">
                  <img class="license__photos-image" src="/assets/images/patent-dialog-ios-sdk.jpg" alt="Dialog iOS SDK">
                  <div class="license__photos-link-box">
                    <a class="link--download license__photos-link" href="">
                      <span class="link--download__text">Dialog iOS SDK</span>
                      <img src="/assets/images/svg-icons/arrow-download.svg" alt="" class="link--download__icon">
                    </a>
                  </div>
                </div>
                <div class="license__photos-item license--dialog-web-sdk">
                  <img class="license__photos-image" src="/assets/images/patent-dialog-web-sdk.jpg" alt="Dialog WEB SDK">
                  <div class="license__photos-link-box">
                    <a class="link--download license__photos-link" href="">
                      <span class="link--download__text">Dialog WEB SDK</span>
                      <img src="/assets/images/svg-icons/arrow-download.svg" alt="" class="link--download__icon">
                    </a>
                  </div>
                </div>
                <div class="license__photos-item license--dialog-enterprise">
                  <img class="license__photos-image" src="/assets/images/patent-dialog-web-sdk.jpg" alt="Dialog enterprise">
                  <div class="license__photos-link-box">
                    <a class="link--download license__photos-link" href="">
                      <span class="link--download__text">Dialog enterprise</span>
                      <img src="/assets/images/svg-icons/arrow-download.svg" alt="" class="link--download__icon">
                    </a>
                  </div>
                </div>
              </div>
            </section>

            <section class="license__section license__photos license__photos--fstek">
              <div class="license__photos-title">Компания имеет необходимую квалификацию и лицензии ФСТЭК России и ФСБ России</div>
              <div class="license__photos-list">
                <div class="license__photos-item">
                  <img class="license__photos-image" src="/assets/images/fstek-1.jpg" alt="ФСБ">
                  <div class="license__photos-link-box">
                    <a class="link--download license__photos-link" href="">
                      <span class="link--download__text">ФСБ</span>
                      <img src="/assets/images/svg-icons/arrow-download.svg" alt="" class="link--download__icon">
                    </a>
                  </div>
                </div>
                <!---->
                <div class="license__photos-item">
                  <img class="license__photos-image" src="/assets/images/fstek-1.jpg" alt="ФСБ СКЗИ">
                  <div class="license__photos-link-box">
                    <a class="link--download license__photos-link" href="">
                      <span class="link--download__text">ФСБ СКЗИ</span>
                      <img src="/assets/images/svg-icons/arrow-download.svg" alt="" class="link--download__icon">
                    </a>
                  </div>
                </div>
                <div class="license__photos-item">
                  <img class="license__photos-image" src="/assets/images/fstek-3.jpg" alt="ФСБ ТЗКИ">
                  <div class="license__photos-link-box">
                    <a class="link--download license__photos-link" href="">
                      <span class="link--download__text">ФСБ ТЗКИ</span>
                      <img src="/assets/images/svg-icons/arrow-download.svg" alt="" class="link--download__icon">
                    </a>
                  </div>
                </div>
              </div>
            </section>

            <section class="license__section license__assoc">
              <div class="license__assoc-title">Реестры и ассоциации</div>
              <ul>
                <li>Мессенджер dialog соответствует требованиям Единого реестра российских программ для электронных вычислительных машин и баз данных и состоит в реестре отечественного ПО.</li>
                <li>Компания является членом Ассоциации документальной электросвязи (АДЭ).</li>
                <li>ООО “Диалог” входит в реестр Организаторов Распространения Информации (ОРИ) Роскомнадзор.</li>
              </ul>
              <!-- <a href="https://97-fz.rkn.gov.ru/organizer-dissemination/viewregistry/#searchform" class="link--default link--ori"></a> -->
            </section>

            <section class="license__section license__partners box--prefooter">
              <div class="license__partners-title">
                Компания имеет технологичных партнеров
              </div>
              <div class="license__partners-list">
                <div class="license__partners-item">
                  <a class="license__partners-item-link">
                    <img class="license__partners-image" src="/assets/images/partner-infotecs.svg" alt="infotecs">
                  </a>
                </div>
                <div class="license__partners-item">
                  <a class="license__partners-item-link">
                    <img class="license__partners-image" src="/assets/images/partner-rostelecom.svg" alt="rostelecom">
                  </a>
                </div>
                <div class="license__partners-item">
                  <a class="license__partners-item-link">
                    <img class="license__partners-image" src="/assets/images/partner-norbit.svg" alt="norbit">
                  </a>
                </div>
                <div class="license__partners-item">
                  <a class="license__partners-item-link">
                    <img class="license__partners-image" src="/assets/images/partner-jet.svg" alt="jet">
                  </a>
                </div>
                <div class="license__partners-item">
                  <a class="license__partners-item-link">
                    <img class="license__partners-image" src="/assets/images/partner-redsoft.svg" alt="redsoft">
                  </a>
                </div>
                <div class="license__partners-item">
                  <a class="license__partners-item-link">
                    <img class="license__partners-image" src="/assets/images/partner-omp.svg" alt="open mobile platform">
                  </a>
                </div>
                <div class="license__partners-item">
                  <a class="license__partners-item-link">
                    <img class="license__partners-image" src="/assets/images/partner-infowatch.svg" alt="infowatch">
                  </a>
                </div>
              </div>
              <div class="license__partners-link-box">
                <a href="" class="license__partners-link link--arrow">
                  <span class="link--arrow__text">Партнерская программа</span>
                  <img src="/assets/images/svg-icons/arrow-link.svg" alt="" class="link--arrow__icon">
                </a>
              </div>
            </section>
          </div>
        </div>
      </div>
    </main>

    <%- include('partials/footer') %>
  </div>

  <script src="/assets/index.js"></script>
</body>

</html>
