.advantages2 {
  --icon-height: 48px;
  --phone-gap-small: var(--icon-height);
  --phone-gap-big: 62px;
  --gap-icon: calc(var(--icon-height) + var(--gap));
  --card-padding-big: var(--gap) var(--gap-3) var(--gap-4);
  --card-padding-small: var(--gap) var(--gap-2) var(--gap-2);
  --card-padding-mini: var(--gap-1_25) var(--gap-2_5) var(--gap-1_25)
    var(--gap-1_25);
  --card-negative-margin: calc(-1 * var(--icon-height) + var(--gap-2));
  --col-min-width: 50%;
  @media (max-width: 900px) {
    --col-min-width: 70%;
  }
  @media (--mobile-viewport) {
    margin-top: var(--gap-2);
  }
  @media (--mini-viewport) {
    --col-min-width: 100%;
  }

  &__wrapper {
    display: flex;
    @media (min-width: 401px) {
      flex-wrap: wrap;
    }
  }

  &__title {
    text-align: center;
    margin: 0;
  }

  &__item {
    min-width: 100%;
    margin-top: 0;
  }

  &__row {
    position: relative;
    display: flex;
    align-items: flex-start;
    align-content: center;
    flex-wrap: wrap;
    padding: var(--gap-2) 0 var(--gap-2);
    margin-bottom: var(--gap-2);
    min-width: 650px;
    min-height: 550px;

    @media (--middle-viewport) {
      flex-wrap: nowrap;
      justify-content: center;
      height: auto;
      padding: var(--gap-3) 0 var(--gap-2);
      min-width: 0;
      &--phone-gap-big {
        --phone-gap: var(--phone-gap-big);
      }
      &--phone-gap-small {
        --phone-gap: var(--phone-gap-small);
      }
    }

    @media (max-width: 1199px) {
      &.responsive-align {
        .advantages2__image {
          transform: translateX(-50%) translateY(30px);
        }
      }
    }
    @media (--mobile-viewport) {
      min-width: 100%;
    }
    @media (--mini-viewport) {
      min-height: 0;
    }
  }

  &__col {
    &--icon,
    &--card {
      margin-top: var(--phone-gap);
      flex: 0;
      min-width: var(--col-min-width);
      margin-left: var(--wrapper-margin);
      margin-right: auto;
      padding: var(--card-padding-small);

      @media (--laptop-viewport) {
        max-height: 300px;
      }
      @media (--middle-viewport) {
        flex: 1;
        padding: var(--card-padding-big);
        width: 33%;
        min-width: 33%;
        margin-right: 0;
        margin-left: 0;
        z-index: 0;
      }
      @media (max-width: 1439px) {
        --gap: 2vw;
      }
      @media (max-width: 900px) {
        --gap: 20px;
        margin-left: 0;
      }
      @media (--mobile-viewport) {
        margin-left: 0;
        padding: var(--card-padding-mini);
      }
    }

    &--icon {
      z-index: 1;
      @media (max-width: 1199px) {
        margin-bottom: var(--card-negative-margin);
        margin-top: var(--card-negative-margin);
      }
    }

    &--phone {
      z-index: 3;
      @media (max-width: 1199px) {
        transform: translateY(-50%) translateX(calc(100% - var(--gap-1_5)));
        right: calc(100% - var(--col-min-width) - var(--wrapper-margin));
        top: 50%;
        position: absolute;
      }
      @media (max-width: 900px) {
        right: calc(100% - var(--col-min-width));
      }
      @media (--mini-viewport) {
        display: none;
      }
    }

    &--card {
      z-index: 2;
      background: var(--color-primary-new);
      padding-top: var(--gap);
      @media (--middle-viewport) {
        transform: translateX(var(--gap-n-0_5));
        margin-right: var(--gap-n-0_5);
        padding-top: var(--gap-icon);
      }
      @media (max-width: 900px) {
        margin-left: 0;
      }
      @media (--mobile-viewport) {
        padding-top: var(--gap-0_25);
      }
    }
  }

  &__text {
    margin: 0;
    margin-top: var(--gap);
  }

  &__icon {
    display: flex;
    height: var(--icon-height);
    width: var(--icon-height);
  }

  &__image {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
