@import '../../styles/variables.css';

.apply__form__body {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.apply__form__twocolumns {
  display: flex;
  justify-content: space-between;
  @media (--mobile-viewport) {
    flex-direction: column;
  }
}
.apply__form__column {
  width: 45%;
  @media (--mobile-viewport) {
    width: 100%;
  }
}
.apply__form__fileinput {
  margin-top: 60px;
}
.apply__form__checkbox {
  margin-top: 35px;
}
.form__footer {
  margin-top: 38px;
}
.apply__job_text {
  opacity: 0.3;
  margin-top: 9px;
  width: 662px;
  @media (--mobile-viewport) {
    width: 100%;
  }
}
